/* ===================================================*/
/* UI - GENERAL (INPUTS)
/* ===================================================*/
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
    appearance: none; /* Forces reset of appearance */
    outline: 0; /* Removes default outline */
    width: 100%;
    max-width: 100%;
    padding: 0.6em 1.2em;
    border: 1px solid #DDD;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
textarea { min-height: 7.2em; resize: none; }

/* ===================================================*/
/* UI - GENERAL (PLACEHOLDERS)
/* ===================================================*/
::-webkit-input-placeholder { color: #777; } /* WebKit, Blink, Edge */
:-moz-placeholder { color: #777; opacity: 1; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #777; opacity: 1; } /* Mozilla Firefox 19+ */
:-ms-textarea-placeholder { color: #777; } /* Internet Explorer 10-11 */
