/* ===================================================*/
/* GENERAL RULES - GENERAL
/* ===================================================*/
.container { width: 100%; max-width: 960px; margin: 0 auto; overflow: hidden; }
.container:before, .row:before, .container:after, .row:after { content: " "; display: table; }
.container:after , .row:after { clear:both; }

/* ===================================================*/
/* GENERAL RULES - GRID
/* ===================================================*/
[class*="col-"] { float: left; width: 100%; min-height: 1px; margin: 8px 0; padding: .6em; }

/* ===================================================*/
/* MEDIA QUERIES - MOBILE
/* ===================================================*/
@media screen and (min-width: 320px) {
	.col-1-sm	{ width: 8.33333%; }
	.col-2-sm	{ width: 16.66667%; }
	.col-3-sm	{ width: 25%; }
	.col-4-sm	{ width: 33.33333%; }
	.col-5-sm	{ width: 41.66667%; }
	.col-6-sm	{ width: 50%; }
	.col-7-sm	{ width: 58.33333%; }
	.col-8-sm	{ width: 66.66667%; }
	.col-9-sm	{ width: 75%; }
	.col-10-sm	{ width: 83.33333%; }
	.col-11-sm	{ width: 91.66667%; }
	.col-12-sm	{ width: 100%; }
}
@media screen and (max-width: 639px) { .container	{ width: 80%; transition: all 0.3s ease-in-out; } }

/* ===================================================*/
/* MEDIA QUERIES - TABLET
/* ===================================================*/
@media screen and (min-width: 640px) {
	.col-1-md	{ width: 8.33333%; }
	.col-2-md	{ width: 16.66667%; }
	.col-3-md	{ width: 25%; }
	.col-4-md	{ width: 33.33333%; }
	.col-5-md	{ width: 41.66667%; }
	.col-6-md	{ width: 50%; }
	.col-7-md	{ width: 58.33333%; }
	.col-8-md	{ width: 66.66667%; }
	.col-9-md	{ width: 75%; }
	.col-10-md	{ width: 83.33333%; }
	.col-11-md	{ width: 91.66667%; }
	.col-12-md	{ width: 100%; }
}
@media screen and (max-width: 959px) { .container	{ width: 90%; transition: all 0.3s ease-in-out; } }

/* ===================================================*/
/* MEDIA QUERIES - DESKTOP
/* ===================================================*/
@media screen and (min-width: 960px) {
	.container	{ width: 100%; transition: all 0.3s ease-in-out; }
	.col-1-lg	{ width: 8.33333%; }
	.col-2-lg	{ width: 16.66667%; }
	.col-3-lg	{ width: 25%; }
	.col-4-lg	{ width: 33.33333%; }
	.col-5-lg	{ width: 41.66667%; }
	.col-6-lg	{ width: 50%; }
	.col-7-lg	{ width: 58.33333%; }
	.col-8-lg	{ width: 66.66667%; }
	.col-9-lg	{ width: 75%; }
	.col-10-lg	{ width: 83.33333%; }
	.col-11-lg	{ width: 91.66667%; }
	.col-12-lg	{ width: 100%; }
}
@media screen and (min-width: 960px) { .container	{ width: 100%; transition: all 0.3s ease-in-out; } }

/* ===================================================*/
/* OFFSETS
/* ===================================================*/
/* Do not touch or alter for now!
.offset-1	{ margin-left: 8.33333%; }
.offset-2	{ margin-left: 16.66666%; }
.offset-3	{ margin-left: 25%; }
.offset-4	{ margin-left: 33.33333%; }
.offset-5	{ margin-left: 41.66666%; }
.offset-6	{ margin-left: 50%; }
.offset-7	{ margin-left: 58.33333%; }
.offset-8	{ margin-left: 66.66666%; }
.offset-9	{ margin-left: 75%; }
.offset-10	{ margin-left: 83.33333%; }
.offset-11	{ margin-left: 91.66666%; }
.offset-12	{ margin-left: 100%; }
*/
