/* ===================================================*/
/* NAVIGATION - GENERAL
/* ===================================================*/
.nav-h {
    width: 100%;
    height: 60px;
    font-size: 14px;
}
.nav-h ul {
    float: right;
    line-height: 60px;
    z-index: 1;
}
.nav-h li {
    position: relative;
    display: inline-block;
    float: left;
    list-style: none;
}
.nav-h a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
}
.nav-h a:not(:only-child):after {
    padding-left: 10px;
    content: '\f0d7';
    font-family: FontAwesome;
}
.nav-h ul ul {
    position: absolute;
    display: none;
    width: 150px;
    padding: 0;
    left: 0;
    background-color: #F9FAFE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    z-index: 5;
}
.nav-h ul ul li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #DDD;
}
.nav-h ul ul li:last-child { border: none; }

/* ===================================================*/
/* NAVIGATION - TOGGLE ICON
/* ===================================================*/
#nav-toggle span:before {
	display: none;
    float: right;
    padding: 0 20px;
    font-size: 24px;
    color: #999;
	content: '\f0c9';
    font-family: FontAwesome;
	cursor: pointer;
}

/* ===================================================*/
/* NAVIGATION - COLORS
/* ===================================================*/
.nav-default { background-color: #F5F7FA; border-bottom: 1px solid #E6E9ED; }
.nav-default ul li a,
.nav-default .nav-brand a { color: #AAB2BD; }
.nav-default ul li a:hover,
.nav-default .nav-brand a:hover { color: #353B42; }

.nav-dark { background-color: #333; border-bottom: 1px solid #222; }
.nav-dark ul li a,
.nav-dark .nav-brand a { color: #999; }
.nav-dark ul li a:hover,
.nav-dark .nav-brand a:hover { color: #FFF; }

.nav-default ul ul li a:hover,
.nav-dark ul ul li a:hover { color: #333; }

/* ===================================================*/
/* NAVIGATION - BRANDS/LOGO
/* ===================================================*/
.nav-brand {
    float: left;
    display: block;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
}
.nav-brand img { height: 50px; margin-top: 5px; }
.nav-brand a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
}

/* ===================================================*/
/* NAVIGATION - MEDIA QUERIES
/* ===================================================*/
