/* ===================================================*/
/* NAVIGATION - GENERAL
/* ===================================================*/
.nav, nav { width: 100%; height: 60px; margin: 0 auto; padding: 0 20px; line-height: 60px; }
.nav li, nav li { position: relative; float: left; list-style: none; }
.nav a, nav a { display: block; text-decoration: none; }
.nav a:not(:only-child):after,
nav a:not(:only-child):after { padding-left: 5px; content: '\f0d7'; font-family: FontAwesome; }
.nav ul li ul li,
nav ul li ul li { min-width: 190px; }
.nav ul li ul li a,
nav ul li ul li a { padding: 15px; z-index: 1; }

/* ===================================================*/
/* NAVIGATION - COLORS
/* ===================================================*/
.nav-default, nav.nav-default { background-color: #F5F7FA; color: #AAB2BD; border-bottom: 1px solid #E6E9ED; }
.nav-default li a, nav.nav-default li a { padding: 0 20px; color: #AAB2BD; }
.nav-default li a:hover, nav.nav-default li a:hover { color: #F5F7FA; background-color: #AAB2BD; }
.nav-dark, nav.nav-dark { background-color: #434A5A; color: #F5F7FA; border-bottom: 1px solid #445; }
.nav-dark li a, nav.nav-dark li a { padding: 0 20px; color: #F5F7FA; }
.nav-dark li a:hover, nav.nav-dark li a:hover{ background-color: #656D78; }

/* ===================================================*/
/* NAVIGATION - BRANDS/LOGO
/* ===================================================*/
.nav-brand { float: left; margin-right: 20px; }

/* ===================================================*/
/* NAVIGATION - POSITIONS
/* ===================================================*/
.nav-pull-right { float: right; }

/* ===================================================*/
/* NAVIGATION - DROPDOWN
/* ===================================================*/
.nav-dropdown {
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 5;
}
.nav-dropdown a { color: #BBB !important; }
.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	height: 60px;
	width: 60px;
	border: 1px solid #BBB;
}
#nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
	height: 2px;
	width: 35px;
	position: absolute;
	display: block;
	border-radius: 1px;
	content: '';
	transition: all 300ms ease-in-out;
	cursor: pointer;
}
#nav-toggle span:before	{ top: -10px; }
#nav-toggle span:after	{ bottom: -10px; }
#nav-toggle.active span { background-color: transparent; }
#nav-toggle.active span:before,
#nav-toggle.active span:after { top: 0; }
#nav-toggle.active span:before { transform: rotate(45deg); }
#nav-toggle.active span:after { transform: rotate(-45deg); }

/* ===================================================*/
/* NAVIGATION - TOGGLE ICON
/* ===================================================*/
/*
.nav-toggle {
	padding: 0 15px;
	font-size: 20px;
	display: block;
	cursor: pointer;
}
.nav-default .nav-toggle:hover { background-color: #AAB2BD; color: #F5F7FA; }
.nav-dark .nav-toggle:hover { background-color: #656D78; }
*/

/* ===================================================*/
/* NAVIGATION - MEDIA QUERIES
/* ===================================================*/
@media screen and (max-width: 800px) {
	.nav-mobile 		{ display: block; }
	.nav, nav		{ width: 100%; }
	.nav ul, nav ul 	{ display: none; }
	.nav li, nav li	{ float: none; }
	.nav ul li a,
 	nav ul li a 		{ padding: 15px; line-height: 20px; }
	.nav ul li ul li a,
	nav ul li ul li a 	{ padding-left: 30px; }
	.nav-dropdown 	{ position: static; }
}
@media screen and (min-width: 960px) {
	.nav-mobile		{ display: none; }
}
