/* ===================================================*/
/* GENERAL RULES - HTML/BODY
/* ===================================================*/
*, *:before, *:after {
	padding: 0;
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Open Sans, Arial, sans-serif;
	font-size: 100%;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body { height: 100%; font-weight: 300; color: #333; }
hr {
    height: 0;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #DDD;
}
