/* ===================================================*/
/* TYPOGRAPHY - GENERAL
/* ===================================================*/
body {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
h1 { font-size: 2.6rem; line-height: 1.2em; }
h2 { font-size: 2.2rem; line-height: 1.3em; }
h3 { font-size: 1.8rem; line-height: 1.35em; }
h4 { font-size: 1.4rem; line-height: 1.4em; }
h5 { font-size: 1.2rem; line-height: 1.5em; }
h6 { font-size: 0.8rem; line-height: 1.6em; }
p { font-size: 1rem; line-height: 1.8em; font-weight: 300; }

/* ===================================================*/
/* TYPOGRAPHY - WEIGHT
/* ===================================================*/
h1.thin, h2.thin, h3.thin, h4.thin, h5.thin, h6.thin, p.thin, p>span.thin { font-weight: 300; }
h1.thick, h2.thick, h3.thick, h4.thick, h5.thick, h6.thick , p.thick, p>span.thick { font-weight: 700; }

/* ===================================================*/
/* TYPOGRAPHY - SIZES
/* ===================================================*/
p.small { font-size: 0.85em; }
p.normal { font-size: 1em; }
p.big { font-size: 1.2em; }
