.vert-menu {
    position: fixed;
    display: block;
    width: 180px;
    height: 100vh;
    margin-left: -200px;
    background-color: #333;
    border-right: 1px solid #222;
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}
.vert-menu ul {
    padding: 0;
    text-align: left;
    list-style: none;
}
.vert-menu li {
    position: relative;
    border-bottom: 1px solid #777;
}
.vert-menu li:last-child {
    border-bottom: none;
}
.vert-menu a {
    display: block;
    padding: 22px;
    color: #EEE;
    text-decoration: none;
}
.vert-menu a:not(:only-child):after {
    padding-left: 20px;
    content: '\f0da';
    font-family: FontAwesome;
}
.vert-menu a:hover {
    background-color: #222;
    border-left: 5px solid #B03;
    transition: all 0.3s ease-in;
}
.vert-menu ul ul {
    position: absolute;
    display: none;
    width: 130px;
    top: 0;
    left: 100%;
    background-color: #555;
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    transition: all 0.3s ease-in;
}

/* =============================
ACTIONS
==============================*/
.show-menu {
    margin-left: 0;
    transition: all 0.3s ease-in-out;
}
