/* ===================================================*/
/* CLEAR
/* ===================================================*/
.clear { display: inline-block; }
.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

/* ===================================================*/
/* PLACEMENTS
/* ===================================================*/
.pull-left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: flex-start;
    align-items: flex-start;
}
.pull-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: flex-end;
    align-items: flex-end;
}
.pull-center {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;

    text-align: center;
}
/*
.pull-center-full {
	position: absolute;
	max-width: 90%;
	max-height: 90%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.centralize {
    display: table;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.centralize-content { display: table-cell; vertical-align: middle; }
*/

/* ===================================================*/
/* HERO
/* ===================================================*/
.hero {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    width: 100%;
    max-width: 60em;
    height: 100vh;
    margin: 0 auto;

    justify-content: center;

    -ms-align-items: center;
    align-items: center;
}
.hero-items { text-align: center; }
.hero h1 { font-size: 4em; font-weight: 700; }
.hero h2 { font-size: 2.25em; font-weight: 400; }
