/* ===================================================*/
/* FLEXBOX - GENERAL
/* ===================================================*/
.flex-row { display: flex; flex-direction: column; }
.flex-col { flex: 1; margin: .6em; padding: .6em; }

/* ===================================================*/
/* FLEXBOX - MEDIA QUERIES
/* ===================================================*/
@media screen and (min-width: 500px) {
    .flex-row { display: flex; flex-direction: row; }
}
