/* ===================================================*/
/* BUTTON - GENERAL RULES
/* ===================================================*/
.btn,
a.btn,
button,
input[type=button],
input[type=submit],
input[type=reset] {
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

/* ===================================================*/
/* BUTTON - COLORS (SOLID)
/* ===================================================*/
.btn-default { background-color: #ECF0F1; color: #95A5A6;}
.btn-default:hover { background-color: #95A5A6; color: #ECF0F1; }
.btn-primary { background-color: #3498DB; color: #FFF; }
.btn-primary:hover { background-color: #2980B9; color: #FFF; }
.btn-dark { background-color: #333; color: #FFF; }
.btn-dark:hover { background-color: #222; color: #FFF; }
.btn-light { background-color: #E1E1E1; color: #333; }
.btn-light:hover { background-color: #CCC; color: #333; }
.btn-outline {  background-color: transparent; color: #333; border: 1px solid #333; }
.btn-outline:hover { background-color: #333; color: #FFF; }
.btn-success { background-color: #2ECC71; color: #FFF; }
.btn-success:hover { background-color: #27AE60; color: #FFF; }
.btn-warning { background-color: #FFCE54; color: #FFF; }
.btn-warning:hover { background-color: #F1B30B; color: #FFF; }
.btn-danger { background-color: #E74C3C; color: #FFF; }
.btn-danger:hover { background-color: #C0392B; color: #FFF; }

/* ===================================================*/
/* BUTTON - COLORS (OUTLINE)
/* ===================================================*/
.btn-outline-default { background-color:  transparent; color: #95A5A6; border: 2px solid #ECF0F1; font-weight: 700; }
.btn-outline-default:hover { background-color: #95A5A6; color: #ECF0F1; }
.btn-outline-primary { background-color: transparent; color: #3498DB; border: 2px solid #3498DB; font-weight: 700; }
.btn-outline-primary:hover { background-color: #2980B9; color: #FFF; }
.btn-outline-dark { background-color: transparent; color: #333; border: 2px solid #333; font-weight: 700; }
.btn-outline-dark:hover { background-color: #222; color: #FFF; }
.btn-outline-light { background-color: transparent; color: #E1E1E1; border: 2px solid #E1E1E1; font-weight: 700; }
.btn-outline-light:hover { background-color: #CCC; color: #333; }
.btn-outline-success { background-color: transparent; color: #2ECC71; border: 2px solid #2ECC71; font-weight: 700; }
.btn-outline-success:hover { background-color: #27AE60; color: #FFF; }
.btn-outline-warning { background-color: transparent; color: #FFCE54; border: 2px solid #FFCE54; font-weight: 700; }
.btn-outline-warning:hover { background-color: #FFCE54; color: #FFF; }
.btn-outline-danger { background-color: transparent; color: #E74C3C; border: 2px solid #E74C3C; font-weight: 700; }
.btn-outline-danger:hover { background-color: #C0392B; color: #FFF; }

/* ===================================================*/
/* BUTTON - SIZES
/* ===================================================*/
.btn-sml	{ padding: .1em 1em; line-height: 1.625em; font-size: .8em; }
.btn-med	{ padding: .15em 1.5em; line-height: 1.75em; font-size: 1em; }
.btn-lrg	{ padding: .175em 1.7em; line-height: 2em; font-size: 1.2em; font-weight: 700; }
.btn-xlg	{ padding: .2em 2em; line-height: 2.125em; font-size: 1.3em; font-weight: 700; }
.btn-jmb	{ padding: .25em 2.5em; line-height: 2.25em; font-size: 1.5em; font-weight: 700; }
.btn-full	{ width: 100%; height: 2.125em; line-height: 2.125em; font-size: 1.5em; font-weight: 700; }

/* ===================================================*/
/* BUTTON - ROUNDNESS
/* ===================================================*/
.btn-rnd	{ border-radius: 5px; }
.btn-frd	{ border-radius: 35px; }

/* ===================================================*/
/* BUTTON - ICONS
/* ===================================================*/
.btn-i,
a.btn-i,
button.btn-i,
input[type=button].btn-i,
input[type=submit].btn-i,
input[type=reset].btn-i {
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.btn-i:after,
a.btn-i:after,
button.btn-i:after,
input[type=button].btn-i:after,
input[type=submit].btn-i:after,
input[type=reset].btn-i:after {
	content: '\f019';
	font-family: FontAwesome;
	padding-left: 10px;
}
.btn-i-danger,
a.btn-i-danger,
button.btn-i-danger,
input[type=button].btn-i-danger,
input[type=submit].btn-i-danger,
input[type=reset].btn-i-danger {
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.btn-i-danger:after,
a.btn-i-danger:after,
button.btn-i-danger:after,
input[type=button].btn-i-danger:after,
input[type=submit].btn-i-danger:after,
input[type=reset].btn-i-danger:after {
	content: '\f071';
	font-family: FontAwesome;
	padding-left: 10px;
}
.btn-i-open,
a.btn-i-open,
button.btn-i-open,
input[type=button].btn-i-open,
input[type=submit].btn-i-open,
input[type=reset].btn-i-open {
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.btn-i-open:after,
a.btn-i-open:after,
button.btn-i-open:after,
input[type=button].btn-i-open:after,
input[type=submit].btn-i-open:after,
input[type=reset].btn-i-open:after {
	content: '\f08e';
	font-family: FontAwesome;
	padding-left: 10px;
}
