/* ===================================================*/
/* NAVIGATION - GENERAL
/* ===================================================*/
.nav, nav {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 14px;
    z-index: 5;
}
.nav ul, nav ul { float: right; line-height: 60px; list-style: none; }
.nav li, nav li {
    position: relative;
    float: left;
    display: inline-block;
}
.nav a, nav a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
}
.nav a:not(:only-child):after,
nav a:not(:only-child):after {
    padding-left: 5px;
    content: '\f0d7';
    font-family: FontAwesome;
}

/*
.nav ul li ul li,
nav ul li ul li { min-width: 190px; }
.nav ul li ul li a,
nav ul li ul li a { padding: 15px; z-index: 1; }
*/

/* ===================================================*/
/* NAVIGATION - COLORS
/* ===================================================*/
.nav-default, nav.nav-default {
    background-color: #F5F7FA;
    color: #AAB2BD;
    border-bottom: 1px solid #E6E9ED;
}
.nav-default li a, nav.nav-default li a { color: #AAB2BD; }
.nav-default li a:hover, nav.nav-default li a:hover { color: #F5F7FA; background-color: #AAB2BD; }

.nav-dark, nav.nav-dark {
    background-color: #333;
    color: #999;
    border-bottom: 1px solid #222;
}
.nav-dark li a, nav.nav-dark li a { color: #999; }
.nav-dark li a:hover, nav.nav-dark li a:hover{ color: #FFF; }

/* ===================================================*/
/* NAVIGATION - BRANDS/LOGO
/* ===================================================*/
.nav-brand {
    float: left;
    display: block;
    padding: 0 20px;
    line-height: 60px;
}
.nav-brand img { height: 50px; margin-top: 5px; }
.nav-brand a { text-decoration: none; }
.nav.nav-default > .nav-brand a,
nav.nav-default > .nav-brand a { color: #AAB2BD !important; }
.nav.nav-dark > .nav-brand a,
nav.nav-default > .nav-brand a { color: #999 !important; }

/* ===================================================*/
/* NAVIGATION - POSITIONS
/* ===================================================*/
.nav-pull-right { float: right; }

/* ===================================================*/
/* NAVIGATION - DROPDOWN
/* ===================================================*/
.nav-dropdown {
	display: none;
    background-color: #EFEFEF;
	z-index: 5;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.nav-dropdown a { color: #BBB !important; }

/* ===================================================*/
/* NAVIGATION - TOGGLE ICON
/* ===================================================*/
#nav-toggle span:before {
	display: none;
    float: right;
    padding: 10px 20px;
    font-size: 24px;
    color: #999;
	content: '\f0c9';
    font-family: FontAwesome;
	cursor: pointer;
}

/* ===================================================*/
/* NAVIGATION - MEDIA QUERIES
/* ===================================================*/
@media screen and (max-width: 639px) {
    #nav-toggle span:before { display: block; }
    .nav ul, nav ul { display: none; }
    .nav li, nav li {}
    .nav a, nav a {
        display: block;
        margin: 0 auto;
        padding: 5px;
    }
}
