/*
@author: J. Djimitry Riviere
@version: 1.0.0
@release: 00/00/0000

Welcome and thank you for using S3CSS (pronounced as 'streaks'), a lightweight CSS/JS
open source framework (coded in CSS and jQuery) to help you create simple, responsive website templates.
It was developed by J. Djimitry Riviere in 2016, and continues to be improved upon by its
developer. The major key to this framework lies within its ease of us to deliver superb results
when creating a website. Not only that, it is and will always remain FREE to use; though in
exchange, providing feedback and help find ways to improve the framework further would be
appreciated.

Thank you for using S3CSS! Happy Designing!

WARNING:    Do NOT touch, alter, or remove any files or folders!
            They contains all the variables from which the S3CSS
            framework functions.
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "../fonts/font-awesome-4.7.0/css/font-awesome.css";
@import "../fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "s3css-alerts.css";
@import "s3css-base.css";
@import "s3css-buttons.css";
@import "s3css-forms.css";
@import "s3css-grid-flexbox.css";
@import "s3css-grid-responsive.css";
@import "s3css-modals.css";
@import "s3css-nav-hamburger.css";
@import "s3css-nav-horizontal.css";
@import "s3css-nav-vertical.css";
@import "s3css-tables.css";
@import "s3css-thumbnails.css";
@import "s3css-typography.css";
@import "s3css-ui.css";
