/*==========================================
TABLE - GENERAL
==========================================*/
table {
    width: 100%;
    max-width: 100%;
    margin: 15px 0;
    vertical-align: middle;
    border-collapse: collapse;
    white-space: nowrap;
    color: #777;
    overflow-x: auto;
    background-color: #FFF;
}
th, td { padding: 8px; border: none; text-align: left; }
th { font-size: 1em; font-weight: 800; color: #333; }
td { font-size: .9em; font-weight: 300; color: #555; }

/*==========================================
TABLE - STYLES
==========================================*/
.tbl-default th { border: none; border-bottom: 2px solid #DDD; }
.tbl-default td { border: none; }
.tbl-default tr { border-bottom: 1px solid #DDD; }
.tbl-default tr:last-child { border: none; }

.tbl-striped tr:nth-child(even) { background-color: #EEE; }

.tbl-hover tr:hover { background-color: #EEE; }

/*==========================================
TABLE - COLORE THEMES
==========================================*/
.tbl-light th { background-color: #F5F7FA; border: none; color: #AAB2BD; }
.tbl-dark th { background-color: #434A5A; border: none; color: #F5F7FA; }

/*==========================================
TABLE - RESPONSIVE
==========================================*/
@media screen and (max-width: 767px) {
    .tbl-responsive {
        display: block;
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
    }
}
