// =================================
// GLOBAL VARIABLES
// =================================
$background-color: $color-pure-white !default
$border-radius: 0.3rem !default
$line-height: 1.6 !default
$opacity-muted: 0.5 !default

// =================================
// SCREEN SIZE VARIABLES
// =================================
$bp-none: 0px !default
$bp-xsmall: 320px !default
$bp-small: 480px !default
$bp-medium: 640px !default
$bp-large: 768px !default
$bp-xlarge: 960px !default
$bp-widescreen: 1200px !default

// =================================
// FONTS VARIABLES
// =================================
$font-family: -apple-system, BlinkMacSystemFont, "Lato", Roboto, Oxygen-Sans, Ubuntu, "Helvetica Neue", sans-serif !default
$font-special: "FontAwesome" !default
$font-size: 1.6rem !default
$font-color: $color-grey-25 !default
$font-weight-light: 300 !default
$font-weight-normal: 400 !default
$font-weight-heavy: 700 !default
$font-weight-black: 800 !default

// =================================
// INDEX VARIABLES
// =================================
$index-lowest: -9999 !default
$index-lower: -10 !default
$index-low: -5 !default
$index-below: -1 !default
$index-neutral: 0 !default
$index-above: 1 !default
$index-high: 5 !default
$index-higher: 10 !default
$index-highest: 9999 !default

// ================================
// MAPS
// ================================
// --- Theme Colors --- //
$theme-map: (default: $grey_base, primary: $lblue_base, info: $blue_base, success: $green_base, warning: $yellow_base, danger: $red_base, light: $white_base, dark: $black_base) !default
// --- Breakpoints --- //
$bp-map: (none: $bp-none, xsmall: $bp-xsmall, small: $bp-small, medium: $bp-medium, large: $bp-large, xlarge: $bp-xlarge, widescreen: $bp-widescreen) !default
// --- Indexes --- //
$index-map: (lowest: $index-lowest, lower: $index-lower, low: $index-low, below: $index-below, normal: $index-neutral, above: $index-above, high: $index-high, higher: $index-higher, highest: $index-highest) !default