/* ===================================================
/* BASE (CORE)
/* ===================================================
@import ../config/_all

// =======================================
// GLOBALS, HTML, BODY
// =======================================
*
    +reset
    // Pseudo
    &:before,
    &:after
        @extend *

html
    font:
        size: 62.5% // Sets root 62.5% to 10px (100% = 16px)
        size: calc(1em * 0.625) // This line is to ensure HTML rem is at 10px
    text-rendering: optimizeLegibility
    font-smoothing: antialiased

body
    height: 100%
    line-height: $line-height
    background: $background-color
    color: $font-color
    font:
        family: $font-family
        size: $font-size
        weight: $font-weight-light

// =======================================
// SELECTION
// =======================================
::selection
    background: map-get($theme-map, primary)
    color: map-get($theme-map, light)

// =======================================
// LISTS
// =======================================
$list-spacing-v: 1.0rem
$list-spacing-h: 2.0rem

ol,
ul:not(.nav__menu):not(.menu)
    margin-left: $list-spacing-h
    // Pseudo
    &:not(:last-child)
        margin-bottom: $list-spacing-v
    // Elements
    & > li
        padding-left: $list-spacing-h