/* ===================================================*/
/* ALERTS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

@mixin alert {
    display: block;
    width: 100%;
    margin: $alert-margin 0;
    padding: $alert-padding;
    font-size: $alert-font-size;
    @include box-shadow(5, 5, 7, 0.7);
    @include border-radius-cust(0, 5, 5, 0);
} // End of Alert

.alert {
    // Create alert block
    @include alert;

    // Loop through each alert color-map and fetch info
    @each $type, $color in $alert-color-maps {
        $bgcolor: nth($color, 1);
        $fontcolor: nth($color, 2);
        
        // STYLES
        &--#{$type} { background-color: $bgcolor; color: $fontcolor !important; }
    } // End of EACH-LOOP

    // COMPONENTS
    &__title { font: { size: 2.0rem !important; weight: $font-weight-heavy; } }
    &__desc { margin: $alert-margin 0; font-weight: $font-weight-normal; }
    &__list { margin-left: ($alert-margin * 2); font-weight: $font-weight-light; }
}
