/* ===================================================*/
/* ALERTS
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

@mixin alert {
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: 0.75em;
    @include box-shadow(5, 5, 7, 0.7);
    @include border-radius-cust(0, 5, 5, 0);
    z-index: $index-high;
} // End of Alert

.alert {
    // Create alert block
    @include alert;

    // Loop through each alert color-map and fetch info
    @each $type, $color in $alert-color-maps {
        $bgcolor: nth($color, 1);
        $fontcolor: nth($color, 2);
        $bordercolor: $fontcolor;
        
        // STYLES
        &--#{$type} {
            background-color: $bgcolor;
            color: $fontcolor !important;
            border: 1px solid $bordercolor;
            border-left: 5px solid $bordercolor;
        }
    } // End of EACH-LOOP

    // COMPONENTS
    &__title { font-weight: $font-weight-heavy; }
    &__desc { font-size: $alert-font-size; }
    &__list { margin-left: 0.9375em; }
}
