/* ===================================================*/
/* ANIMATIONS
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

// ANIMATIONS
.animate--pulse { animation: pulse 1s ease-in infinite; }
.animate--load { animation: load 1s linear infinite; }
.animate--fade-in { animation: fade-in 1s ease-in; }
.animate--fade-out { animation: fade-out 1s ease-out; }
.animate--bounce { animation: bounce 1s ease-in-out; }

// KEYFRAMES
@keyframes pulse {
    0% { @include scale-uniform(1.0); }
    20% { @include scale-uniform(0.9); }
    60% { @include scale-uniform(1.1); }
    100% { @include scale-uniform(1.0); }
}

@keyframes load {
    0% { @include rotate-uniform(0deg); }
    100% { @include rotate-uniform(359deg); }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slide-in {
    0% { opacity: 0; top: -9999; }
    100% { opacity: 1; top: 0; }
}
@keyframes appear {
    0% { opacity: 0; @include scale-uniform(0.0); }
    100% { opacity: 1; @include scale-uniform(1.0); }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes bounce {
    0% {
        transform: scaleX(1.0);
        transform: scaleY(1.0);
        transform: translateY(0);
    }
    12% {
        transform: scaleX(1.2);
        transform: scaleY(0.8);
        transform: translateY(0);
    }
    36% {
        transform: scaleX(0.5);
        transform: scaleY(1.5);
        transform: translateY(-3px);
    }
    50% {
        transform: scaleX(1.0);
        transform: scaleY(1.0);
        transform: translateY(-3px);
    }
    74% {
        transform: scaleX(0.5);
        transform: scaleY(1.5);
        transform: translateY(0);
    }
    86% {
        transform: scaleX(1.2);
        transform: scaleY(0.8);
        transform: translateY(0);
    }
    100% {
        transform: scaleX(1.0);
        transform: scaleY(1.0);
        transform: translateY(0);
    }
}