/* ===================================================*/
/* ANIMATIONS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// ANIMATIONS
.animate {
    &--pulse { animation: pulse 1s ease-in infinite; }
    &--load { animation: load 1s linear infinite; }
    &--bounce { animation: bounce 1s infinite; }

    &--appear { animation: appear 1s ease-in forwards; }
    &--disappear { animation: disappear 1s ease-out forwards; }
    
    &--fade-in { animation: fade-in 1s ease-in forwards; }
    &--fade-in--top { animation: fade-in-top 1s ease-in forwards; }
    &--fade-in--bottom { animation: fade-in-bottom 1s ease-in forwards; }
    &--fade-in--left { animation: fade-in-left 1s ease-in forwards; }
    &--fade-in--right { animation: fade-in-right 1s ease-in forwards; }

    &--fade-out { animation: fade-out 1s ease-out forwards; }
    &--fade-out--top { animation: fade-out-top 1s ease-in forwards; }
    &--fade-out--bottom { animation: fade-out-bottom 1s ease-in forwards; }
    &--fade-out--left { animation: fade-out-left 1s ease-in forwards; }
    &--fade-out--right { animation: fade-out-right 1s ease-in forwards; }
}

// LOOPABLE
@keyframes pulse {
    0%, 100% { @include scale-uniform(1.0); }
    50% { @include scale-uniform(1.1); }
}

@keyframes load {
    0% { @include rotate-uniform(0deg); }
    100% { @include rotate-uniform(359deg); }
}

// APPEAR | DISAPPEAR
@keyframes appear {
    0% { opacity: 0; @include scale-uniform(0.0); }
    100% { opacity: 1; @include scale-uniform(1.0); }
}

@keyframes disappear {
    0% { opacity: 1; @include scale-uniform(1.0); }
    100% { opacity: 0; @include scale-uniform(0.0); }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); } 
    40% {transform: translateY(-8px);} 
    60% {transform: translateY(-4px);}
}

// FLOAT-IN
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes float-in-top {
    0% { top: -9999; opacity: 0; }
    100% { top: 0; opacity: 1; }
}

@keyframes float-in-bottom {
    0% { bottom: -9999; opacity: 0; }
    100% { bottom: 0; opacity: 1; }
}

@keyframes float-in-left {
    0% { left: -9999; opacity: 0; }
    100% { left: 0; opacity: 1; }
}

@keyframes float-in-right {
    0% { right: -9999; opacity: 0; }
    100% { right: 0; opacity: 1; }
}

// FLOAT-OUT
@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes float-out-top {
    0% { top: 0; opacity: 1; }
    100% { top: -9999; opacity: 0; }
}

@keyframes float-out-bottom {
    0% { bottom: 0; opacity: 1; }
    100% { bottom: -9999; opacity: 0; }
}

@keyframes float-out-left {
    0% { left: 0; opacity: 1; }
    100% { left: -9999; opacity: 0; }
}

@keyframes float-out-right {
    0% { right: 0; opacity: 1; }
    100% { right: -9999; opacity: 0; }
}