/* ===================================================*/
/* BASE (CORE)
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

* {
    @include reset;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    @include box-sizing;
    
    &:before, &:after { @extend *; }
}
body {
	height: 100%;
	font-weight: $font-weight-light;
	color: $color-dark;
}