/* ===================================================*/
/* BLOCKQUOTES
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// VARIABLES
$blockquote-color-maps: (
    primary:                $lblue_base,
    secondary:              $btopaz_base,
    info:                   $blue_base,
    success:                $green_base,
    warning:                $yellow_base,
    danger:                 $red_base
) !default;
$blockquote-font-size:		1.8rem !default; // Default font size is 15px
$blockquote-font-footer:    $font-size !default; // Footer font size is 16px
$blockquote-footer-color:   $font-color !default; // Footer font color
$blockquote-margin:         2.0rem !default; // Default margin is 20px
$blockquote-padding:        2.0rem !default; // Default padding is 20px

// MIXINS
@mixin create-blockquote {
    position: relative;
    display: block;
    width: 96%;
    margin: $blockquote-margin auto;
    padding: { top: 0.5rem; bottom: 0.5rem; left: $blockquote-padding; right: 0.5rem; };
    font: { size: $blockquote-font-size; weight: $font-weight-light; };
    border-left: 0.5rem solid $grey_base;
} // End of Create-Blockquote

// BLOCKQUOTES
.blockquote {
    @include create-blockquote;

    // COMPONENTS    
    &__footer {
        margin-top: 1.5rem;
        font-size: $blockquote-font-footer;
        font-style: italic;
        color: rgba($blockquote-footer-color, 0.5);
        text-align: right;
    }

    // Loop through each blockquote color-map and fetch info
    @each $type, $color in $blockquote-color-maps {
        // STATES
        &--#{$type} { border-color: $color; }
    } // End of EACH-LOOP
}