/* ===================================================*/
/* BUTTONS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// MIXINS
@mixin button {
    display: inline-block;
    @include remove-appearance;
    outline: none;
    background: none;
    padding: $btn-padding-vertical $btn-padding-horizontal;    
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    font: { size: $btn-font-size; weight: $font-weight-normal; };
    color: $black_base;
    border-radius: $btn-border-radius;
    border: 1px solid $black_l2;
    cursor: pointer;

    &:hover { border-color: $black_base; }

    &:disabled, &.btn--disabled {
    	@include disable-select;
    	opacity: 0.3;
    }
} // End of Button

// BUTTON
.btn {
    // Create the button
    @include button;
    
    // Stylize all buttons according to proper color-map
    @each $type, $color in $btn-color-maps {
        $bgcolor: nth($color, 1);
        $fontcolor: nth($color, 2);

        // STYLES
        &--#{$type} {
            background-color: $bgcolor;
            color: $fontcolor !important;
            border: none;

            &:hover,
            &:focus,
            &:active { background-color: darken($bgcolor, $darken); }
        }
		
		&--#{$type}--outline {
			background-color: $color-none;
			color: $bgcolor !important;
			border: 1px solid $bgcolor;
			
			&:hover,
            &:focus,
            &:active {
                background-color: $bgcolor;
                color: $fontcolor !important;
                border-color: transparent;
            }
        }
        
        &--#{$type}--ghost {            
            @if ($type == "light") {
                background-color: map-get($theme-maps, light);
                color: $white_d1 !important;
                border: 1px solid $grey_l1;
            } @else {
                background-color: map-get($theme-maps, light);
                color: $bgcolor !important;
                border: 1px solid $grey_l1;
            } // End of IF-ELSE
			
			&:hover,
            &:focus,
            &:active {
                background-color: $bgcolor;
                color: $fontcolor !important;
                border-color: transparent;
            }
		}
    } // End of EACH-LOOP

    // SIZES
    &--xsmall { font-size: ($font-size * 0.66666); }
    &--small { font-size: ($font-size * 0.8 ); }
    &--medium { font-size: $font-size; }
    &--large { font-size: ($font-size * 1.33333); }
    &--xlarge { font-size: ($font-size * 1.6); }
    &--block {
        display: block;
        width: 100%;
        padding: 1.0rem 0;
        font-size: 2.0rem;
        letter-spacing: $btn-letter-space;
    }

    // STYLES
    &--h-round { @include border-radius(($btn-border-radius * 2)); }
    &--f-round { @include border-radius(3.5rem); }
}

.btn__group {
    @include displayFlex;
    @include justifyContentCenter;
    @include flexDirectionRow;
    @include flexWrap;

    border: 1px solid red;

    // COMPONENTS
    & > .btn {
        @include displayFlex;
        @include justifyContentCenter;
        @include flexSizePlus(1, 0, 100%);

        // MEDIA QUERIES
        @media only screen and (min-width: $bp-medium) {
            @include flexSizePlus(1, 0, auto);
        }
    }

    // STATES
    & .btn:hover { @include box-shadow(0, 0, 0, 0); }

    &.btn__group--full { @include flexSizePlus(1, 0, 0); }
}
