/* ===================================================*/
/* BUTTONS
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

// MIXINS
@mixin button {
    display: inline-block;
    width: auto;
    vertical-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;

    @include transition(all, 0.3s, ease-in);

    &:hover {
        @include scale-uniform(1.025);
        @include box-shadow(0, 5px, 7px, 0.5);
        @include transition(all, 0.3s, ease-in);
    }

    &:disabled, &.btn--disabled {
    	@include disable-select;
    	opacity: 0.5;

        &:hover {
            @include scale-uniform(1.0);
            @include box-shadow(0, 0, 0, 0);
        }
    }
} // End of Button

// BUTTON
.btn {
    // Create the button
    @include button;
    
    // Stylize all buttons according to proper color-map
    @each $type, $color in $btn-color-maps {
        $bgcolor: nth($color, 1);
        $fontcolor: nth($color, 2);
		$bordercolor: $bgcolor;
		$fontoutline: $bordercolor;

        &--#{$type} {
            background-color: $bgcolor;
            color: $fontcolor !important;

            &:hover { background-color: darken($bgcolor, $darken); }
        }
		
		&--#{$type}--outline {
			background-color: $color-none;
			color: $fontoutline !important;
			border: 2px solid $bordercolor;
			font-weight: $font-weight-heavy;
			
			&:hover { background-color: $bgcolor; color: $fontcolor !important; }
		}
    } // End of LOOP

    // SIZES
    &--sml {
        padding: 0.125em 1em;
        line-height: 1.625em;
        font-size: .75em;
    }
    &--med {
        padding: 0.1875em 1.5em;
        line-height: 1.75em;
        font-size: 1em;
    }
    &--lrg {
        padding: 0.25em 1.875em;
        line-height: 2em;
		font-size: 1.25em;
        font-weight: $font-weight-heavy;
    }
    &--xlg {
        padding: 0.3125em 2em;
        line-height: 2.125em;
        font-size: 1.5em;
        font-weight: $font-weight-heavy;
    }
    &--jmb {
        padding: 0.375em 2.5em;
        line-height: 2.25em;
        font-size: 1.5em;
        font-weight: $font-weight-heavy;
    }
    &--responsive {
        width: 100%;
        padding: 0.5em 0;
        line-height: 1.25em;
        font-size: 1.25em;
        font-weight: $font-weight-heavy;
    }

    &--h-round { @include border-radius; }
    &--f-round { @include border-radius(35px); }

}
