/* ===================================================*/
/* THUMBNAILS
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

.card {
    width: 100%;
    // padding: 5px;
    border: 1px solid $color-grey-75;
    @include border-radius;
    overflow: hidden;

    // COMPONENTS
    &__header {
        padding: { top: 1rem; bottom: 1rem; left: 0.5rem; right: 0.5rem; }

        &__title { @extend .title; }
        &__subtitle { @extend .subtitle; }
    }
    & img,
    &__image { width: 100%; }
    &__caption { padding: 0.5rem; font-size: 1rem; color: $color-grey-50; }
    &__footer {
        @include displayFlex;
        @include flexSize;
        border: { top: 1px solid $color-grey-75; }

        &__item {
            @include displayFlex;
            flex: 1 0 0;
            @include justifyContentCenter;
            @include alignItemsCenter;
            margin: 0;
            padding: 1rem;

            // COMPONENTS
            a {
                text-decoration: none;
                color: map-get( $theme-maps, dark);

                &:hover { color: map-get($theme-maps, primary); }
            }

            // STATES
            &:not(:first-child) { border: { left: 1px solid $color-grey-75; } }
        }
    }

    // STATES
    &.card--shadow-box { @include box-shadow(0, 3px, 15px, 0.5); }
}