/* ===================================================*/
/* BASE (CORE)
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";
@import "../config/_reset";

* {
    @include reset;
    @include box-sizing;
    
    &:before, &:after { @extend *; }
}

html {
    font-size: 62.5%; // Sets root 62.5% to 10px (100% = 16px)
    font-size: calc(1em * 0.625); // This line is to ensure HTML rem is at 10px
    text-rendering: optimizeLegibility;
    @include font-smoothing;
}

body {
    height: 100%;
    line-height: 1.5;
    background-color: $background-color;
    color: $font-color;
	font: {
        family: $font-family;
        size: $font-size;
        weight: $font-weight-light;
    }
}

::-moz-selection {
    background: map-get($theme-maps, secondary);
    color: map-get($theme-maps, light);
}
::selection {
    background: map-get($theme-maps, secondary);
    color: map-get($theme-maps, light);
}