/* ===================================================*/
/* FORMS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// MIXINS
@mixin createInput {
	position: relative;
    display: inline-flex;
    flex: 1 0 100%;
    align-items: center;
    width: 100%;
    height: 4.0rem;
    padding: 0 1.0rem;
    @include remove-appearance;
    outline: none;
    font: { size: $font-size; weight: $font-weight-light; }
    color: $black_base;
    border: 1px solid map-get($theme-maps, default);
    @include border-radius(0.3rem);

    // COMPONENTS
	&::-webkit-input-placeholder { color: $color-grey-75; } // WebKit, Blink, Edge
	&::-moz-placeholder { color: $color-grey-75; opacity: 1; } // Mozilla Firefox 19+
	&:-moz-placeholder { color: $color-grey-75; opacity: 1; } // Mozilla Firefox 4 to 18
	&:-ms-textarea-placeholder { color: $color-grey-75; } // Internet Explorer 10-11
	&::placeholder { color: $color-grey-75; }

    // STATES
    &:hover { border-color: map-get($theme-maps, primary); }
    &:focus {
        border-color: map-get($theme-maps, primary);
        box-shadow: 0 0 1.0rem rgba($lblue_base, 0.5);
    }
    &:not(:last-child) { margin-bottom: 1.0rem; }
} // End of CreateInput

// FORMS
.form {
	// COMPONENTS
	&__label {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        font: { size: 1.2rem; weight: $font-weight-heavy; }
        color: $black_base;
	}
	
	&__input { @include createInput; }
	
	&__select {
        @extend .form__input;
        
        // COMPONENTS
        &::-ms-expand { display: none; }
	}
	
	&__textarea {
        @extend .form__input;
        height: 9.0rem;
        padding-top: 1.0rem;
        resize: vertical;
	}
	
	&__checkbox {
        display: inline-flex;
        align-items: center;
        transform: scale(1.25);
        
        // STATES
        &:not(:first-of-type) { margin-left: 1.0rem; }
        
        // COMPONENTS
        &__group { margin: 1.0rem 0; }
        &__label { display: inline; margin-left: 1.5rem; font-size: 1.5rem; }
    }
}