/* ===================================================*/
/* FORMS
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

.form {
	&__box { position: relative; margin: 2em 0; }

	&__input {
		position: relative;
		display: block;
		width: 100%;
		height: 2em;
		padding: 0.5em 0;
		@include remove-appearance;
		outline: none;
		background-color: $color-none;
		border: none;
		border-bottom: 1px solid $color-grey-75;
		font-size: 1em;
		@include box-shadow(0, 0, 0, 0);
		@include transition(all, 0.2s, ease-in);

		& + label {
			position: absolute;
			top: -0.75em;
			left: 0;
			display: block;
			font-size: 1em;
			letter-spacing: 0.125em;
			text-transform: uppercase;
			color: $color-grey-75;
			transform: translateY(1em);
			@include transition(all, 0.2s, ease-in);
		}

		&:focus {
			border-bottom: 2px solid $black_base;
			@include transition(all, 0.2s, ease-in);
		}

		&:focus + label,
		&.form__input--used + label {
			top: -2.5em;
			font-size: 0.75em;
			font-weight: $font-weight-heavy;
			letter-spacing: 0;
			color: $black_base;
		}

		&.form__input--used:not(:focus) + label { color: $color-grey-75; }
	}

	textarea {
		min-height: 5em;
		resize: none;
		font-family: $font-family-default;
	}
}

// PLACEHOLDERS
::-webkit-input-placeholder { color: $color-grey-75; } // WebKit, Blink, Edge
::-moz-placeholder { color: $color-grey-75; opacity: 1; } // Mozilla Firefox 19+
:-moz-placeholder { color: $color-grey-75; opacity: 1; } // Mozilla Firefox 4 to 18
:-ms-textarea-placeholder { color: $color-grey-75; } // Internet Explorer 10-11