/* ===================================================*/
/* GRID
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// ====================================
// VARIABLES
// ====================================
// Wrapper Variables
$wrapper-name: "wrapper" !default;
$wrapper-spacing: 2.5% !default;

// Grid Variables
$grid-name: "grid" !default;
$grid-margin: 1.5rem !default;
$grid-gutter: 1.5rem !default;

// Column Variables
$column-name: "column" !default;
$column-max: 12 !default;

// Offset Variables
$offset-name: "column__offset" !default;

// ====================================
// CONTAINER
// ====================================
.#{$wrapper-name} {
    position: relative;
    width: 96%;
    margin: 0 auto;

    // Pseudo
    &:before {
        content: " ";
		display: table;
	}
    &:after {
        @extend .#{$wrapper-name}:before;
		clear: both;
	}

    // Media Queries
    @media screen and (min-width: 640px) {
		width: 96%;
		max-width: 1200px;
	}
}

// ====================================
// GRID
// ====================================
// --- ROW ---
.#{$grid-name} {
	@include displayFlex;
	@include flexSize;
	@include flexDirectionColumn;
	@include flexWrap;
    margin-bottom: $grid-margin;

	// Pseudo
	&:last-child { margin-bottom: 0; }
	&:before {
        content: " ";
		display: table;
	}
    &:after {
        @extend .#{$grid-name}:before;
		clear: both;
	}
    
    // States
    &.#{$grid-name}--gutter {
        margin: {
            left: ($grid-gutter / -2);
			right: ($grid-gutter / -2);
		};

        > .#{$column-name} {
            padding: {
                left: ($grid-gutter / 2);
				right:( $grid-gutter / 2);
			};
		}
	}

    // Media Queries
    @media screen and (min-width: 640px) {
		@include flexDirectionRow;
		
		// Components
        > [class*="#{$column-name}--"] { @include flexGrow; }
	}

    // Components
    // --- COLUMNS ---
	> .#{$column-name} {
		@include flexGrow;
		@include flexShrink(0);

        // Media Queries
        @media screen and (min-width: 640px) {
            @for $i from 1 through $column-max {
                &.#{$column-name}--#{$i}-of-#{$column-max} {
					@include flexGrow(0);
					@include flexBasis (((100% * $i) / $column-max));
					width: ((100% * $i) / $column-max);
				}
			} // End of LOOP

            // Special Cases
			&.#{$column-name}--1-of-4,
			&.#{$column-name}--fourth { @extend .#{$column-name}--3-of-12; }
			&.#{$column-name}--1-of-3,
			&.#{$column-name}--third { @extend .#{$column-name}--4-of-12; }
			&.#{$column-name}--1-of-2,
			&.#{$column-name}--half { @extend .#{$column-name}--6-of-12; }
            &.#{$column-name}--2-of-3 { @extend .#{$column-name}--8-of-12; }
            &.#{$column-name}--3-of-4 { @extend .#{$column-name}--9-of-12; }
			&.#{$column-name}--1-of-1,
			&.#{$column-name}--full { @extend .#{$column-name}--12-of-12; }
		}
	}
    
    // --- OFFSETS ---
    [class*="#{$offset-name}--"] { margin-left: 0; }

    // Media Queries
    @media screen and (min-width: 640px) {
        @for $i from 1 through $column-max {
            .#{$offset-name}--#{$i}-of-#{$column-max} {
				margin-left: ((100% / $column-max) * $i);
			}
		} // End of LOOP

		// Special Cases
		.#{$offset-name}--1-of-4,
		.#{$offset-name}--fourth { @extend .#{$offset-name}--3-of-12; }
		.#{$offset-name}--1-of-3,
		.#{$offset-name}--third { @extend .#{$offset-name}--4-of-12; }
		.#{$offset-name}--1-of-2,
		.#{$offset-name}--half { @extend .#{$offset-name}--6-of-12; }
        .#{$offset-name}--2-of-3 { @extend .#{$offset-name}--8-of-12; }
        .#{$offset-name}--3-of-4 { @extend .#{$offset-name}--9-of-12; }
		.#{$offset-name}--1-of-1,
		.#{$offset-name}--full { @extend .#{$offset-name}--12-of-12; }
	}
}