/* ===================================================*/
/* GRID
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

// MIXINS
@mixin rowCol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
			flex-flow: column wrap;
} // End of RowCol

@mixin rowGrid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
} // End of RowGrid

@mixin maxColWidth($width) {
	$percent: $width + "%";
	-ms-flex-preferred-size: unquote($percent);
        flex-basis: unquote($percent);
    max-width: unquote($percent);
} // End of MaxColWidth

@mixin flexGrid($grid-columns) {
    @for $i from 1 through $grid-columns {
        .#{$grid-name}-#{$i}-of-#{$grid-columns} {
            -ms-flex-preferred-size: $i / $grid-columns * 100%;
            flex-basis: $i / $grid-columns * 100%;
            max-width: $i / $grid-columns * 100%;
        }
    } // End of LOOP
} // End of Grid


// GRID
.container {
	width: 96%;
	margin: 0 auto;
	overflow: hidden;
	
	@media only screen and (min-width: $bp-xlarge) {
		& { width: 100%; max-width: $bp-xlarge; }
	}
}
.row {
	@include displayFlex;
	width: 100%;
	@include rowCol;

	// STATES
	&.row--no-gutter { [class*="#{$grid-name}-"], .#{$grid-name} { margin: 0 !important; } }
	&.row--no-padding { [class*="#{$grid-name}-"], .#{$grid-name} { padding: 0 !important; } }
	
	// MEDIA QUERIES
	@media only screen and (min-width: $bp-medium) {
		@include rowGrid;
	}
}
.container:before,
.row:before { content: " "; display: table;	}
.container:after,
.row:after { @extend .container:before; clear:both; }

[class*="#{$grid-name}-"], .#{$grid-name} {
	@include maxColWidth(100);
    min-height: 0.0625em;
	// margin: 0.25em $grid-gutter;
	margin: 0.25em 0;
    padding: $grid-padding;
	@include flexSize(1);
}

@media only screen and (min-width: $bp-medium) {
	[class*="#{$grid-name}-"] {
		// margin: { top: 0.25em; bottom: 0.25em; }
		margin: 0.25em $grid-gutter;
		
		&:first-of-type { margin-left: 0; }
		&:last-of-type { margin-right: 0; }
		&:only-child, &:first-of-type:last-of-type { margin: { left: 0; right: 0; }; }
	}
	
	.#{$grid-name} {
		margin: 0.25em $grid-gutter;

		&:first-of-type { margin-left: 0; }
		&:last-of-type { margin-right: 0; }
		&:only-child, &:first-of-type:last-of-type { margin: { left: 0; right: 0; }; }
	}
	
	@include flexGrid(12);
	
	.#{$grid-name}-1-of-4 { @extend .#{$grid-name}-3-of-12; }
	.#{$grid-name}-1-of-3 { @extend .#{$grid-name}-4-of-12; }
	.#{$grid-name}-1-of-2 { @extend .#{$grid-name}-6-of-12; }
	.#{$grid-name}-2-of-3 { @extend .#{$grid-name}-8-of-12; }
	.#{$grid-name}-3-of-4 { @extend .#{$grid-name}-9-of-12; }
	.#{$grid-name}-1-of-1 { @extend .#{$grid-name}-12-of-12; }
}

