/* ===================================================*/
/* NAVIGATION
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

// MIXINS
@mixin navCollapse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
			flex-flow: column wrap;
} // End of NavCollapse

@mixin navStretch {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
} // End of NavStretch

@mixin navMenuItemAsRow {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
} // End of NavMenuItemAsRow

@mixin navMenuNoFlex {
	-webkit-box-flex: 0;
		-ms-flex: none;
			flex: none;
} // End of NavMenoNoFlex

@mixin navMenuItemFlexStyle {
	--webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
			flex: 1 0 auto;
} // NavMenuItemFlexStyle

// NAVIGATION
.nav {
    @include displayFlex;
    @include navCollapse;
    width: 100%;
    height: auto;
    padding: 0;
    background-color: map-get($theme-maps, light);
    z-index: $index-higher;
    @include box-shadow(0, 1px, 7px, 0.3);
    
    // COMPONENTS
    &__brand {
        float: left;
        padding: 1rem;
        color: map-get($theme-maps, secondary);
        font-size: 1.5rem;
        font-weight: $font-weight-heavy;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
		cursor: pointer;
		
		& img,
		&__img { max-height: 2rem; }
    }
    
    &__menu {
        display: none;
        list-style: none;
        
        &__item {
			padding: 1rem;

			a {
				
				color: map-get($theme-maps, dark);
				font-size: 0.75rem;
				font-weight: $font-weight-normal;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 0.125rem;
			}

			// STATES
            &:hover {
				background-color: map-get($theme-maps, primary);

				a { color: map-get($theme-maps, light); }
			}
        }
    }
    
    // Hamburger Icon
    &__mobile {
        position: absolute; top: 1rem; right: 1rem;
        
        .nav__mobile__icon { @include hamburger; }
    }
    
    // STATES
    &.nav--fixed { position: fixed; }
    
    // MEDIA QUERIES
    @media screen and (min-width: $bp-large) {
		@include navStretch;
        
        // COMPONENTS
        &__brand {
			@include displayFlex;
            @include navMenuNoFlex;
            justify-content: center;
            align-items: center;
            border: { right: 1px solid #DEDEDF; }
        }
        
        &__menu {
            @include displayFlex;
            @include navMenuNoFlex;
            order: 0;
            
            &__item {
				a {
					@include displayFlex;
					height: 100%;
					justify-content: center;
					align-items: center;
					text-align: center;
					cursor: pointer;
				}

				// STATES
				&:hover,
				&--active {
					background-color: $color-none;

					a { color: map-get($theme-maps, primary); }
				}
				
				// STATES
				&.nav__menu__item--special {
					background-color: map-get($theme-maps, primary);

					a { color: map-get($theme-maps, light); }

					&:hover {
						background-color: darken($lblue_base, $darken);

						a { color: map-get($theme-maps, light); }
					}
                }
            }
            
            // STATES
            &.nav__menu--left { justify-content: flex-start; float: left; }
            &.nav__menu--center { justify-content: center; }
            &.nav__menu--right { justify-content: flex-end; float: right; }
        }
        
        &__mobile { display: none; }
    }
}