/* ===================================================*/
/* NAVIGATION
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

// VALUES
$nav-color-default: #F5F7FA;
$nav-color-default-dark: #E6E9ED;
$nav-color-dark: $color-dark;
$nav-color-dark-darker: #222;

// MIXINS
@mixin navCollapse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-flow: column nowrap;
				flex-flow: column nowrap;
} // End of NavCollapse

@mixin navStretch {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
} // End of NavStretch

@mixin navMenuItemAsRow {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
} // End of NavMenuItemAsRow

@mixin navMenuItemFlexStyle {
	--webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
			flex: 1 0 auto;
} // NavMenuItemFlexStyle

// NAVIGATION
.nav {
	@include displayFlex;
    @include navCollapse;
	padding: 0 0.75em;
    z-index: $index-high;
	
	&__brand {
		font-size: 1.5em;
		text-align: center;
		
		&__image {
			max-height: 2em;

			// In case the logo is SVG, add this class
			&.logo--is-SVG {
				background-image: url('dist/img/Logo_InCol.svg');
				max-height: 2em;
			}
		}
	}
	
	&__menu__icon {
		@include displayFlex;
		@include justifyContentCenter;
		@include alignItemsCenter;
		padding: 0.5em;
		font-size: 1.5em;
		cursor: pointer;
		
		&:before {
			content: "\f0c9";
			display: block;
			margin-right: 0.3125em;
			font-family: FontAwesome;
		}
	}
	
	&__menu {
		display: none;
		text-align: center;
		list-style: none;
		
		&__item {
			position: relative;
			@include flexSize(1);
			padding: 0.5em;
			font-size: 1.25em;
			
			&:last-child { border: none; }
		}
	}
	
	&__dropdown {
		display: none;
		@include navCollapse;
		@include flexSize(1);
		list-style: none;
		z-index: $index-higher;
		
		&__item:last-child { border: none; }
	}
	
	&__brand,
	&__menu__item,
	&__dropdown__item {
		a {
			display: block;
			padding: 0.5em;
			text-decoration: none;
		}
	}
	&__menu__item a {
		&:not(:last-child):after {
			content: "\f0d7";
			padding-left: 0.5em;
			font-family: FontAwesome;
		}
	}
	
	// THEMES
	&--default {
		background-color: $nav-color-default;
		border-bottom: 1px solid darken($nav-color-default, $darken);
		
		.nav__menu__item,
		.nav__dropdown__item { border-bottom: 1px solid $nav-color-default-dark; }
		.nav__brand a,
		.nav__menu__icon,
		.nav__menu__item a {
			color: #AAB2BD;
			
			&:hover { color: #353B42; }
		}
		.nav__dropdown__item {
			background-color: #F1F3FF;
			
			&:hover { background-color: $nav-color-default-dark; }
		}
	}

	&--dark {
		background-color: $nav-color-dark;
		border-bottom: 1px solid $nav-color-dark-darker;
		
		.nav__menu__item,
		.nav__dropdown__item { border-bottom: 1px solid #111; }
		.nav__brand a,
		.nav__menu__icon,
		.nav__menu__item a {
			color: #999;
			
			&:hover { color: $color-white; }
		}
		.nav__dropdown__item {
			background-color: #222;
			
			&:hover { background-color: #111; }
		}
	}
	
	@media only screen and (min-width: 40em) {
		@include navStretch;
        @include justifyContentSpaceBetween;
		@include alignItemsCenter;
		
		&__brand {
			@include displayFlex;
			@include justifyContentAtStart;
			font-size: 1.125em;
		}
		
		&__menu__icon { display: none; }
		
		&__menu {
			@include displayFlex;
			@include justifyContentAtEnd;
			font-size: 0.675em;
			
			&__item {
				@include displayFlex;
				@include navMenuItemAsRow;
				@include navMenuItemFlexStyle;
				text-align: center;
			}
		}
		
		&__dropdown {
			position: absolute;
			top: 100%;
			right: 0;
			width: 150px;
			@include border-radius;
			@include box-shadow(0, 0, 0.5em, 0.5);
			z-index: 100;
		}
		
		&--default .nav__menu__item,
		&--default .nav__dropdown__item,
		&--dark .nav__menu__item,
		&--dark .nav__dropdown__item { border: none !important; }
	}
}