/* ===================================================*/
/* TABLES
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

// MIXINS
@mixin createTable {
	width: 100%;
    max-width: 100%;
    margin: 1rem 0;
    vertical-align: middle;
    border-collapse: collapse;
    white-space: nowrap;
    color: $font-color;
    overflow-x: auto;
    background-color: $white_base;
}

// TABLES
table { @include createTable; }
th,
td { padding: 0.5em; border: none; text-align: left; }
th {
	font: { size: 1rem; weight: $font-weight-black; }
	color: $black_base;
}
td {
	font: { size: 0.875rem; weight: $font-weight-light; }
	color: $font-color;
}

.table {
	// STATES
	&--default {
		th { border: none; border-bottom: 2px solid #DDD; }
		td { border: none; }
		tr {
			border-bottom: 1px solid #DDD;
			
			&:last-child { border: none; }
		}
	}

	&--striped { tr:nth-child(even) { background-color: #EEE; } }
	
	&--hover { tr:hover { background-color: #EEE; } }

	// THEMES
	&--light th {
		background-color: $white_l3;
		border: none;
		color: $color-grey-25;
	}
	&--dark th {
		background-color: $color-grey-25;
		border: none;
		color: map-get($theme-maps, light);
	}
	
	// RESPONSIVE
	@media only screen and (max-width: 48em) {
		&--responsive {
			display: block;
			width: 100%;
			max-width: 100%;
			overflow-x: auto;
		}
	}
}