/* ===================================================*/
/* TABLES
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// MIXINS
@mixin createTable {
    width: 100%;
    margin: 0 auto;
	border-collapse: collapse;
    
    // COMPONENTS
    caption {
        font: { size: 2.0rem; weight: $font-weight-heavy; }
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
    thead { display: none; }
    
    tbody, tr, td { display: block; }
    
    tr {
        margin: { top: 0; bottom: 1.0rem; };
		padding: 0.5rem 0;
        border: 1px solid map-get($theme-maps, default);
		// border-bottom: 3px solid map-get($theme-maps, default);
		
		&:last-child { margin-bottom: 0; }
    }
    
    td {
        position: relative;
        padding: 1.0rem;
        font-size: $font-size;
        text-align: right;
        white-space: normal;
        border-bottom: 1px dotted map-get($theme-maps, default);
        
        &:first-child { margin-top: -0.5rem; }
        &:last-child { margin-bottom: -0.5rem; border: 0; }
        &:before {
            position: absolute;
            left: 0.5rem;
            content: attr(data-label);
            font: { size: $font-size; weight: $font-weight-heavy; }
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            white-space: nowrap;
        }
    }
    
    // MEDIA QUERY
    @media only screen and (min-width: $bp-medium) {
        display: table;
        
        // COMPONENTS
        thead {
            display: table-header-group;
            font: { size: $font-size; weight: $font-weight-heavy; }
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            border-bottom: 2px solid $color-grey-50;
        }
        
        tbody { display: table-row-group; }
        
        tr { display: table-row; border: none; }
        
        th { padding: 1.5rem 1.0rem; }
        
        td {
            display: table-cell;
            padding: 1.5rem 1.0rem;
			text-align: left;
			border: none;
            
            &:before { display: none; }
        }   
    }
    
    // STATES
    &.table--light {
        th {
            background-color: $white_l4;
            color: $black_base;
            border-bottom: 2px solid $white_base;
        }
        tbody tr:nth-child(odd) { background-color: $white_l1; color: $grey_d3; }
        tbody tr:nth-child(even) { background-color: $white_l2; color: $grey_d3; }
    }
    &.table--dark {
        th {
            background-color: $black_base;
            color: $white_base;
            border-bottom: 2px solid $black_d3;
        }
        tbody tr:nth-child(odd) { background-color: $black_d2; color: $white_base; }
        tbody tr:nth-child(even) { background-color: $black_d1; color: $white_base; }
    }
    &.table--default { tr:not(:last-child) { border-bottom: 1px solid #DDD; } }
    &.table--bordered { th, td { border: 1px solid #DDD; } }
    &.table--striped { tbody tr:nth-child(odd) { background-color: #EEE; } }
    &.table--hoverable {
		tbody tr:hover > td {
			background-color: map-get($theme-maps, secondary);
			color: map-get($theme-maps, light);
		}
	}
} // End of CreateTable

// TABLES
.table { @include createTable; }