/* ===================================================*/
/* THUMBNAILS
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

.thumbnail {
    width: 100%;
    // padding: 5px;
    border: 1px solid $color-grey-75;
    @include border-radius;
    overflow: hidden;

    // COMPONENTS
    &__header {
        padding: { top: 1rem; bottom: 1rem; left: 0.5rem; right: 0.5rem; }

        &__title { font: { size: 1.75rem; weight: $font-weight-heavy; } }
        &__subtitle { font: { size: 1.25rem; weight: $font-weight-normal; } }
    }
    & img,
    &__image { width: 100%; }
    &__caption {
        padding: 0.5rem; font-size: 1rem; color: $color-grey-50; }

    // STATES
    &.thumbnail--shadow-box { @include box-shadow(0, 3px, 15px, 0.5); }
}