/* ===================================================*/
/* TYPOGRAPHY
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

body {
    font-size: 100%;
    font-family: $font-family-default;
    @include font-smoothing;
}

// HEADER FORMATTING
h1, h2, h3, h4, h5, h6 { margin: 0 !important; font-weight: 600; }
h1 { font-size: 2.6rem; line-height: 1.2em; }
h2 { font-size: 2.2rem; line-height: 1.3em; }
h3 { font-size: 1.8rem; line-height: 1.35em; }
h4 { font-size: 1.4rem; line-height: 1.4em; }
h5 { font-size: 1.2rem; line-height: 1.5em; }
h6 { font-size: 0.8rem; line-height: 1.6em; }
p {
	font-size: $font-size;
	line-height: 1.5em;
	font-weight: $font-weight-light;
	
	&.text--small { font-size: 0.875em; }
	&.text--normal { font-size: $font-size; }
	&.text--big { font-size: 1.25em; }
}

.text {
	// WEIGHT
	&--thin { font-weight: $font-weight-light; }
	&--thick { font-weight: $font-weight-heavy; }

	// PLACEMENTS
	&--left { text-align: left; }
	&--right { text-align: right; }
	&--center { text-align: center; }
	&--justify { text-align: justify; }
}

// CODE FORMATTING
pre { display: block; margin: 0; padding: 0; }
code { font-family: monospace; }