/* ===================================================*/
/* TYPOGRAPHY
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// HEADER FORMATTING
h1, h2, h3, h4, h5, h6 { margin: 0 !important; font-weight: $font-weight-heavy; }
h1 { font-size: 4.8rem; }
h2 { font-size: 4.2rem; }
h3 { font-size: 3.6rem; }
h4 { font-size: 2.8rem; }
h5 { font-size: 2.4rem; }
h6 { font-size: 2.0rem; }
p { font: { size: $font-size; weight: $font-weight-light; } }

a {
	font: { size: $font-size; weight: $font-weight-normal; };
	color: $font-color-link;
	text-decoration: none;
}

.text {
	// WEIGHT
	&--thin { font-weight: $font-weight-light; }
	&--normal { font-weight: $font-weight-normal; }
	&--bold { font-weight: $font-weight-heavy; }
	&--thick { font-weight: $font-weight-black; }

	// ALIGNMENTS
	@each $type, $alignment in $text-alignment {
		&--#{$type} { text-align: $alignment; }
	} // End of LOOP

	// SUPER (Overwrites)
	&--title { font: { size: 4.0rem; weight: $font-weight-heavy; } }
	&--subtitle { font: { size: 2.5rem; weight: $font-weight-normal; } }
	&--paragraph { font: { size: $font-size; weight: $font-weight-light; } }
	&--subtext { font: { size: 1.2rem; weight: $font-weight-light; } }
}

// CODE FORMATTING
code { font: { family: monospace; size: 1.2rem; } }