/* ===================================================*/
/* UTILITIES
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

// MIXINS
@mixin manualFullCenter {
	position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
} // End of ManualFullCenter

// CLEAR
.clear {
	display: inline-block;
		
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: "";
		clear: both;
		height: 0;
	}
}

// SPACES
.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }

// HORIZONTAL ALIGNMENT
.pull {
	&--left { float: left; }
	&--right { float: right; }
	&--center { float: none; margin: 0 auto; text-align: center; }

	&--flex-left { @include displayFlex; @include justifyContentAtStart; }
	&--flex-center { @include displayFlex; @include justifyContentCenter; }
	&--flex-right { @include displayFlex; @include justifyContentAtEnd; }
}

// VERTICAL ALIGNMENT
.align {
	&--top { @include displayFlex; @include alignItemsTop; }
	&--center { @include displayFlex; @include alignItemsCenter; }
	&--bottom { @include displayFlex; @include alignItemsBottom; }
	&--baseline { @include displayFlex; @include alignItemsBaseline; }
	&--stretch { @include displayFlex; @include alignItemsStretch; }
} // End of Align

// SELF-ALIGN
.self-align {
	&--start { @include displayFlex; @include alignSelfStart; }
	&--center { @include displayFlex; @include alignSelfCenter; }
	&--end { @include displayFlex; @include alignSelfEnd; }
}

// CENTRALIZE
.centralize {
	@include displayFlex;
	@include justifyContentCenter;
	@include alignItemsCenter;
				
	&-alt {
		@include manualFullCenter;
	}
}