/* ===================================================*/
/* UTILITIES
/* ===================================================*/
@import "../base/_variables";
@import "../base/_mixins";

// MIXINS
@mixin manualFullCenter {
	position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
} // End of ManualFullCenter

// CLEAR
.clear {
	display: inline-block;
		
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: "";
		clear: both;
		height: 0;
	}
}

// PLACEMENTS
.pull {
	&--left {
		@include displayFlex;
		@include justifyContentAtStart;
	}
	&--center {
		@include displayFlex;
		@include justifyContentCenter;
	}
	&--right {
		@include displayFlex;
		@include justifyContentAtEnd;
	}

	&--left-alt { float: left; }
	&--right-alt { float: right; }
	&--center-alt { float: none; margin: 0 auto; text-align: center; }
}

.align {
	&--top {
		@include displayFlex;
		@include alignItemsTop;
	}
	&--center {
		@include displayFlex;
		@include alignItemsCenter;
	}
	&--bottom {
		@include displayFlex;
		@include alignItemsBottom;
	}
	&--baseline {
		@include displayFlex;
		@include alignItemsBaseline;
	}
	&--stretch {
		@include displayFlex;
		@include alignItemsStretch;
	}
}

.centralize {
	@include displayFlex;
	@include justifyContentCenter;
	@include alignItemsCenter;
				
	&-alt {
		@include manualFullCenter;
	}
}