@import "variables";

// =======================================
// GENERAL MIXINS
// =======================================
@mixin border-radius($radius: 0.3125em) {
    border-radius: $radius;
} // End of Border-Radius

@mixin border-radius-cust($top: 0, $right: 0, $bottom: 0, $left: 0) {
    border-radius: $top, $right, $bottom, $left;
} // End of Border-Radius-Custom

@mixin box-shadow($x, $y, $blur, $alpha: 0.7) {
    -webkit-box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
        -moz-box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
            -ms-box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
                box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
} // End of Box-Shadow

@mixin box-sizing {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
                box-sizing: border-box;
} // End of Box-Sizing

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
            -ms-font-smoothing: antialiased;
                font-smoothing: antialiased;
} // End of Font-Smoothing

@mixin transition($type, $time, $trans) {
    -webkit-transition: $type $time $trans;
        -moz-transition: $type $time $trans;
            -ms-tranition: $type $time $trans;
                transition: $type $time $trans;
} // End of Transition

@mixin scale-uniform($value) {
    -webkit-transform: scale($value);
        -moz-transform: scale($value);
            -ms-transform: scale($value);
	            transform: scale($value);
} // End of Scale-Uniform

@mixin rotate-uniform($value) {
    -webkit-transform: rotate($value);
        -moz-transform: rotate($value);
            -ms-transform: rotate($value);
	            transform: rotate($value);
} // End of Rotate-Uniform

@mixin disable-select {
    -webkit-user-select: none;
	    -moz-user-select: none;
	        -ms-user-select: none;
	            user-select: none;
    cursor: not-allowed;
} // End of Disable-Select

@mixin remove-appearance {
    -webkit-appearance: none;
        -moz-appearance: none;
            -ms-appearance: none;
                appearance: none;
} // End of Remove-Appearance

@mixin back-visible($visibility) {
    -webkit-backface-visibility: $visibility;
        -moz-backface-visibility: $visibility;
            -ms-backface-visibility: $visibility;
                backface-visibility: $visibility;
} // End of Back-Visible

@mixin inputs {
    input[type='text'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='url'],
    textarea,
    select {
        @content;
    }
} // End of Inputs

@mixin hamburger($size: 2rem, $color: #DFDFDF) {
    position: relative;
    display: block;
    width: $size;
    height: $size;
    background-color: transparent;
    cursor: pointer;
    
    span {
        position: absolute;
        display: block;
        width: 1.5rem;
        height: 0.25rem; // 4px
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color;
        transition: all 0.3s ease-in-out;
        
        &:nth-child(1) { margin-top: -0.625em; }
        &:nth-child(2) { margin-top: 0; }
        &:nth-child(3) { margin-top: 0.625em; }
    }
    
    // STATES
    &--active {
        span {
            background-color: map-get($theme-maps, primary);
            
            &:nth-child(1) {
                margin: { top: -0.125em; left: -0.75rem; }
                transform: rotate(45deg);
            }
            &:nth-child(2) { width: 0; opacity: 0; }
            &:nth-child(3) {
                margin: { top: -0.125em; left: -0.75rem; }
                transform: rotate(-45deg);
            }
        }
    }
} // End of Hamburger

// =======================================
// FLEXBOX MIXINS
// =======================================
@mixin displayFlex {
    display: -webkit-box;
		display: -ms-flexbox;
		display: -ms-flex;
			display: flex;
} // End of DisplayFlex

@mixin flexSize($size:1) {
    -webkit-box-flex: $size;
		-ms-flex: $size;
			flex: $size;
} // End of FlexSize

@mixin justifyContentCenter {
    -webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
} // End of JustifyContentCenterFlex

@mixin justifyContentSpaceBetween {
    -webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
} // End of JustifyContentSpaceBetween

@mixin justifyContentAtStart {
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
}

@mixin justifyContentAtEnd {
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
}

@mixin alignItemsTop {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
} // End of AlignCenterFlex

@mixin alignItemsCenter {
    -webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
} // End of AlignCenterFlex

@mixin alignItemsBottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
} // End of AlignCenterFlex

@mixin alignItemsBaseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
} // End of AlignCenterFlex

@mixin alignItemsStretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
} // End of AlignCenterFlex

@mixin alignSelfStart {
    -ms-flex-item-align: start;
        align-self: flex-start;
} // End of AlignSelfStart

@mixin alignSelfCenter {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
            align-self: center;
} // End of AlignSelfCenter

@mixin alignSelfEnd {
    -ms-flex-item-align: end;
        align-self: flex-end;
} // End of AlignSelfEnd