/* ===================================================
/* FORM (INPUTS)
/* ===================================================
@import ../config/_all

// ====================================
// VARIABLES
// ====================================
$input-color-map: (primary: $lblue_base, info: $blue_base, success: $green_base, warning: $yellow_base, danger: $red_base) !default
$input-margin: 1.5rem !default
$input-size: 4.0rem !default
$input-border-color: map-get($theme-map, default) !default

// ====================================
// MIXINS
// ====================================
=create-input
    +input-control
    width: auto
    height: $input-size
    margin-bottom: $input-margin
    color: $font-color
    border:
        radius: $border-radius
        color: $input-border-color
    // Pseudo
    &::-webkit-input-placeholder
        color: $color-grey-75
    &::-moz-placeholder
        color: $color-grey-75
        opacity: 1
    &:-moz-placeholder
        color: $color-grey-75
        opacity: 1
    &:-ms-textarea-placeholder
        color: $color-grey-75
    &::placeholder
        color: $color-grey-75
    &:hover,
    &:focus,
    &:active
        border-color: map-get($theme-map, primary)
    // Modifiers
    &.make-fluid
        width: 100%
    @each $type, $color in $input-color-map
        &.make-#{$type}
            border-color: $color
            // Pseudo
            &:focus,
            &:active
                box-shadow: 0 0 1.2rem rgba($color, 0.5) !important
    
// ====================================
// INPUTS
// ====================================
// --- TEXTS ---
.input
    +create-input

// --- LABELS ---
.label
    display: inline-flex
    justify-content: flex-start
    flex:
        grow: 1
        shrink: 0
        basis: auto
    margin:
        bottom: 0.5rem
        right: $input-margin / 2
    font:
        size: $font-size
        weight: $font-weight-heavy
    color: $font-color

// --- SELECT ---
.select
    @extend .input
    min-width: 240px
    background:
        image: url('https://png.icons8.com/expand-arrow/win8/12')
        repeat: no-repeat
        position: calc(100% - 1.0rem)
    // Pseudo
    &::-ms-expand
        display: none

// --- TEXT AREA ---
.textarea
    @extend .input
    height: 12.0rem
    font:
        family: inherit
        size: $font-size
    resize: vertical