/* ===================================================
/* UTILITIES
/* ===================================================

// ====================================
// CLEAR
// ====================================
.make-clearfix
  +clearfix

// ====================================
// SPACINGS
// ====================================
.make-no-margins
  margin: 0 !important

.make-no-paddings
  padding: 0 !important

@while $spacing-count-min <= $spacing-count-max
  //--- UNIFORM ---
  .make-margin-#{$spacing-count-min * $spacing-increment}
    margin: ($spacing-count-min * $spacing-size)
  .make-padding-#{$spacing-count-min * $spacing-increment}
    padding: $spacing-count-min * $spacing-size
  //--- VERTICAL ---
  .make-margin-#{$spacing-count-min * $spacing-increment}-vertical
    margin:
      top: $spacing-count-min * $spacing-size
      bottom: $spacing-count-min * $spacing-size
  .make-padding-#{$spacing-count-min * $spacing-increment}-vertical
    padding:
      top: $spacing-count-min * $spacing-size
      bottom: $spacing-count-min * $spacing-size
  //--- TOP ---
  .make-margin-#{$spacing-count-min * $spacing-increment}-top
    margin-top: $spacing-count-min * $spacing-size
  .make-padding-#{$spacing-count-min * $spacing-increment}-top
    padding-top: $spacing-count-min * $spacing-size
  //--- BOTTOM ---
  .make-margin-#{$spacing-count-min * $spacing-increment}-bottom
    margin-bottom: $spacing-count-min * $spacing-size
  .make-padding-#{$spacing-count-min * $spacing-increment}-bottom
    padding-bottom: $spacing-count-min * $spacing-size
  //--- HORIZONTAL ---
  .make-margin-#{$spacing-count-min * $spacing-increment}-horizontal
    margin:
      left: $spacing-count-min * $spacing-size
      right: $spacing-count-min * $spacing-size
  .make-padding-#{$spacing-count-min * $spacing-increment}-horizontal
    padding:
      left: $spacing-count-min * $spacing-size
      right: $spacing-count-min * $spacing-size
  //--- LEFT ---
  .make-margin-#{$spacing-count-min * $spacing-increment}-left
    margin-left: $spacing-count-min * $spacing-size
  .make-padding-#{$spacing-count-min * $spacing-increment}-left
    padding-left: $spacing-count-min * $spacing-size
  //--- RIGHT ---
  .make-margin-#{$spacing-count-min * $spacing-increment}-right
    margin-right: $spacing-count-min * $spacing-size
  .make-padding-#{$spacing-count-min * $spacing-increment}-right
    padding-right: $spacing-count-min * $spacing-size
  
  // Increment
  $spacing-count-min: $spacing-count-min + 1