/* ===================================================
/* BUTTONS
/* ===================================================
@import ../config/_all

// =================================
// VARIABLES
// =================================
$button-color-map: (primary: ($lblue_base, $white_base), info: ($blue_base, $white_base), success: ($green_base, $white_base), warning: ($yellow_base, $black_base), danger: ($red_base, $white_base), light: ($white_base, $black_base), dark: ($black_base, $white_base)) !default
$button-name: "button" !default
$button-margin: 0.25em !default
$button-line-height: $line-height !default
$button-font-size: $font-size !default
$button-letter-space: 0.1rem !default
$button-padding: 0.5rem 1.5rem !default
$button-border-radius: 0.3em !default

// --- GROUP --- //
$button-group-name: "buttons" !default
$button-group-spacing: .25em !default

// =================================
// MIXINS
// =================================
=create-button
    display: inline-flex
    flex-grow: 0
    flex-shrink: 0
    flex-basis: auto
    justify-content: center
    align-items: center
    appearance: none
    outline: none
    background: $color-none
    padding: $button-padding
    line-height: $button-line-height
    vertical-align: center
    text:
        align: center
        decoration: none
    font:
        size: $button-font-size
        weight: $font-weight-normal
    color: $black_base
    border: 1px solid rgba($black_base, 0.3)
    border-radius: $button-border-radius
    cursor: pointer

    // Pseudo
    &:hover
        border-color: rgba($black_base, 0.7)
    &:disabled, &.make-disabled
        user-select: none
        cursor: not-allowed
        opacity: 0.3
    
    // Modifiers
    @each $type, $color in $button-color-map
        $bgcolor: nth($color, 1)
        $fontcolor: nth($color, 2)

        // --- FILLED --- //
        &.make-#{$type}
            background: $bgcolor
            color: $fontcolor !important
            border: 1px solid $color-none

            // Pseudo
            &:hover,
            &:focus,
            &:active
                background: darken($bgcolor, $darken)
                border-color: $color-none

            // Modifiers
            // --- REVERSED --- //
            &.make-reverse
                background: $fontcolor
                color: $bgcolor !important
                border: 1px solid $color-none

                // Pseudo
                &:hover,
                &:focus,
                &:active
                    background: darken($fontcolor, 3%)

                // Modifiers
                &.make-outline
                    background: $color-none
                    color: $fontcolor !important
                    border: 1px solid $fontcolor

                    // Pseudo
                    &:hover,
                    &:focus,
                    &:active
                        background: $fontcolor
                        color: $bgcolor !important

            // --- LINKED --- //
            &.make-link
                @if ($type == "light")
                    background: $color-none
                    color: $bgcolor !important
                    border-color: $color-none

                    // Pseudo
                    &:hover,
                    &:focus,
                    &:active
                        background: rgba($grey_base, 0.1)
                        color: darken($bgcolor, 10%) !important
                @else
                    background: $color-none
                    color: $bgcolor !important
                    border-color: $color-none

                // Pseudo
                &:hover,
                &:focus,
                &:active
                    background: rgba($bgcolor, 0.1)
                    color: darken($bgcolor, 10%) !important

            // --- OUTLINED --- //
            &.make-outline
                background: $color-none
                color: $bgcolor !important
                border: 1px solid $bgcolor

                // Pseudo
                &:hover,
                &:focus,
                &:active
                    background: $bgcolor
                    color: $fontcolor !important
                    border-color: $color-none
            
            
            // --- GHOSTED --- //
            &.make-ghost
                @if $type == "light"
                    background: map-get($theme-map, light)
                    color: $white_d1 !important
                    border: 1px solid $grey_l1
                @else
                    background: map-get($theme-map, light)
                    color: $bgcolor !important
                    border: 1px solid $grey_l1

                // Pseudo
                &:hover,
                &:focus,
                &:active
                    background: $bgcolor
                    color: $fontcolor !important
                    border-color: $color-none

    // Modifiers
    // --- SIZES --- //
    &.make-xsmall
        font-size: $font-size * 0.66666
    &.make-small
        font-size: $font-size * 0.8
    &.make-medium
        font-size: $font-size
    &.make-large
        font-size: $font-size * 1.33333
    &.make-xlarge
        font-size: $font-size * 1.6
    &.make-block
        display: block
        width: 100%
        padding: 0.75rem 0
        font-size: 2.0rem
        letter-spacing: $button-letter-space

    // --- ROUNDNESS --- //
    &.make-radial
        border-radius: $button-border-radius * 2
    &.make-round
        border-radius: 3.5rem

=create-button-group
    display: flex
    flex:
        direction: row
        wrap: wrap
    justify-content: flex-start
    align-items: center  

    // Elements
    & > .#{$button-name}:not(.make-block)
        margin:
            bottom: $button-margin
            right: $button-margin
        
        // Pseudo
        &:last-child
            margin-right: 0
    
    // Modifiers
    // NOTE: '.make-solid' is a temporary name
    &.make-solid
        & > .#{$button-name}
            // Pseudo
            &:not(:first-child)
                border:
                    top-left-radius: 0
                    bottom-left-radius: 0
            &:not(:last-child)
                margin-right: -1px
                border:
                    top-right-radius: 0
                    bottom-right-radius: 0

// =================================
// BUTTONS
// =================================
.#{$button-name}
    +create-button

// --- GROUP --- //
.#{$button-group-name}
    +create-button-group