// =======================================
// INPUT CONTROL
// =======================================
=input-control
  +reset-appearance
  position: relative
  display: inline-flex
  flex:
    grow: 1
    shrink: 0
    basis: auto
  justify-content: flex-start
  align-items: center
  padding: $padding-vertical $padding-horizontal
  border: 1px solid $color-none
  // Pseudo
  &:focus,
  &:active
    border-color: $color-primary
    box-shadow: $input-focus-box-shadow rgba($color-primary, $opacity-muted)
  &:disabled
    user-select: none
    cursor: not-allowed
    opacity: $opacity-muted
    // Pseudo
    &:hover
      border-color: $color-none
      box-shadow: none