/* ===================================================
/* INPUTS
/* ===================================================

// ====================================
// MIXINS
// ====================================
=create-card
  width: 100%
  background: lighten($color-light, $lighten / 2)
  border: $card-border
  border-radius: $border-radius
  overflow: hidden
  // Elements
  // --- HEADER ---
  &__header
    padding: ($card-padding * 2) $card-padding
    border-bottom: $card-border
    // Elements
    .card__title
      font:
        size: $card-font-size-title
        weight: $font-weight-bold
    .card__subtitle
      font:
        size: $card-font-size-subtitle
        weight: $font-weight-normal
    .card__title + .card__subtitle
      margin-top: -1.0rem !important
  // --- BODY ---
  &__body
    padding: $card-padding
    font-size: $card-font-size
    color: $card-font-color
    // Elements
    & > img,
    .card__image
      width: 100%
  // --- FOOTER ---
  &__footer
    display: flex
    flex: 1
    border-top: $card-border
    // Elements
    .card__footer__item
      display: flex
      flex:
        grow: 1
        shrink: 0
        basis: 0
      justify-content: center
      align-items: center
      margin: 0
      padding: ($card-padding * 2) $card-padding
      // Pseudo
      &:not(:first-child)
        border-left: $card-border
        // Elements
        & > a
          text-decoration: none
          color: $color-info
          // Pseudo
          &:hover
            color: $font-color
  // Modifiers
  &.make-shadows
    box-shadow: $card-shadow
  &.make-hoverable
    transition: box-shadow $transition-time $transition-type
    // Pseudo
    &:hover
      box-shadow: $card-shadow
      transition: box-shadow $transition-time $transition-type

// ====================================
// CARDS
// ====================================
.card
  +create-card