/* ===================================================
/* WRAPPER (Container)
/* ===================================================

// ====================================
// MIXINS
// ====================================
=create-wrapper
  position: relative
  width: calc(100% - (#{$wrapper-margin} * 2))
  margin: 0 auto
  // Pseudo
  &::before,
  &::after
    content: ""
    display: table
  &::after
    clear: both
  // Media Queries
  +tablet
    max-width: 1200px

// ====================================
// WRAPPER
// ====================================
.wrapper
  +create-wrapper