/* ===================================================
/* CSS-GRID
/* ===================================================

// ====================================
// MIXINS
// ====================================
=create-grid
  // @NOTE: This feature will only work if the CSS-Grid is supported.
  //        It is therefore suggested to use the Flexbox Grid system
  //        If you are either unsure or want to be safe, as this feature
  //        is under intensive testing (beta testing).
  // @NOTE: Offsets are yet to be implemented into the CSS-Grid feature.
  @supports (display: grid)
    display: grid
    grid:
      auto-flow: row
      gap: $grid-gap
      template-columns: repeat($grid-columns, minmax(0, 1fr))
    margin:
      top: $grid-gap
      bottom: $grid-gap
    // @NOTE:
    // -1-: Allows column to span through the entire row by default
    // -2-: Ensures that the grid item auto-spans according to its child's length
    // -3-: Ensures that the grid item spans through the entire width of its parent
    // Elements
    .grid-item
      grid-column: span $grid-columns // -1-
      min-width: 0 // -2-
      width: 100% // -3-
      // Modifiers | Media Queries
      @media screen and (min-width: $bp-none) // Mobile (portrait)
        +create-css-grid('smaller')
      @media screen and (min-width: $bp-small) // Mobile (landscape)
        +create-css-grid('small')
      @media screen and (min-width: $bp-medium) // Tablet
        +create-css-grid
        +create-css-grid('medium')
      @media screen and (min-width: $bp-large) // Desktop
        +create-css-grid('large')
      @media screen and (min-width: $bp-widescreen) // Widescreen
        +create-css-grid('larger')
      
      //--- FRACTIONALS (Regular) ---//
      &.make-span-twelfth
        @extend .make-span-1
      &.make-span-sixth
        @extend .make-span-2
      &.make-span-fourth
        @extend .make-span-3
      &.make-span-third
        @extend .make-span-4
      &.make-span-half
        @extend .make-span-6
      &.make-span-thirds
        @extend .make-span-8
      &.make-span-fourths
        @extend .make-span-9
      &.make-span-sixths
        @extend .make-span-10
      &.make-span-twelfths
        @extend .make-span-11
      &.make-span-full
        @extend .make-span-12
    // Modifiers
    &.make-gapless
      grid-gap: 0
    +create-grid-gap($grid-gap-max)      

//--- CSS-GRID ---//
.grid
  +create-grid