/* ===================================================
/* GRID
/* ===================================================
@import ../config/_all

// ====================================
// VARIABLES
// ====================================
// Wrapper Variables
$wrapper-name: "wrapper" !default
$wrapper-spacing: 2.5% !default

// Grid Variables
$grid-name: "grid" !default
$grid-margin: 1.5rem !default
$grid-gutter: 1.5rem !default

// Column Variables
$column-name: "column" !default
$column-max: 12 !default

// Offset Variables
$offset-name: "offset" !default

// ====================================
// CONTAINER
// ====================================
.#{$wrapper-name}
    position: relative
    width: 96%
    margin: 0 auto

    // Pseudo
    &:before
        content: " "
        display: table
    &:after
        @extend .#{$wrapper-name}:before
        clear: both

    // Media Queries
    @media screen and (min-width: 640px)
        max-width: 1200px

// ====================================
// GRID
// ====================================
// --- ROW --- //
.#{$grid-name}
    +displayFlex
    +flexSize
    +flexDirectionColumn
    +flexWrap(wrap)
    margin:
        bottom: $grid-margin

    // Pseudo
    &:last-child
        margin-bottom: 0
    &:before
        content: " "
        display: table
    &:after
        @extend .#{$grid-name}:before
        clear: both
    
    // States
    &.make-gutters
        margin:
            left: $grid-gutter / -2
            right: $grid-gutter / -2

        > .#{$column-name}
            padding:
                left: $grid-gutter / 2
                right: $grid-gutter / 2

    // Media Queries
    @media screen and (min-width: $bp-large)
        +flexDirectionRow
        
        > [class*="make-"]
            +flexGrow

    // Components
    // --- COLUMNS ---
    > .#{$column-name}
        +flexGrow
        +flexShrink(0)

        // Media Queries
        @media screen and (min-width: $bp-large)
            @for $i from 1 through $column-max
                &.make-#{$i}
                    +flexGrow(0)
                    +flexBasis(((100% * $i) / $column-max))
                    width: ((100% * $i) / $column-max)

            // Special Cases
            &.make-fourth
                @extend .#{$column-name}.make-3
            &.make-third
                @extend .#{$column-name}.make-4
            &.make-half
                @extend .#{$column-name}.make-6
            &.make-thirds
                @extend .#{$column-name}.make-8
            &.make-fourths
                @extend .#{$column-name}.make-9
            &.make-full
                @extend .#{$column-name}.make-12
    
    // --- OFFSETS --- //
    > .#{$column-name}[class*="#{$offset-name}"]
        margin-left: 0

    // Media Queries
    @media screen and (min-width: $bp-large)
        @for $i from 1 through $column-max
            > .#{$column-name}.#{$offset-name}-#{$i}
                margin-left: ((100% / $column-max) * $i)

        // Special Cases
        > .#{$offset-name}-fourth
            @extend .#{$column-name}.#{$offset-name}-3
        > .#{$offset-name}-third
            @extend .#{$column-name}.#{$offset-name}-4
        > .#{$offset-name}-half
            @extend .#{$column-name}.#{$offset-name}-6
        > .#{$offset-name}--thirds
            @extend .#{$column-name}.#{$offset-name}-8
        > .#{$offset-name}-fourths
            @extend .#{$column-name}.#{$offset-name}-9
        > .#{$offset-name}-full
            @extend .#{$column-name}.#{$offset-name}-12