/* ===================================================
/* MEDIA
/* ===================================================

// ====================================
// MIXINS
// ====================================
=create-media
  position: relative
  display: flex
  align-items: flex-start
  // Pseudo
  &:not(:last-child)
    margin-bottom: $spacing
  // Elements
  //--- PROFILE ---
  &-profile
    display: flex
    flex:
      grow: 0
      shrink: 0
      basis: auto
    order: -1
    width: $media-profile
    height: $media-profile
    margin:
      left: 0
      right: $media-margin
    // Elements
    img
      width: 100%
      border-radius: $media-profile-border-radius
  //--- BODY ---
  &-body
    display: flex
    flex:
      grow: 1
      shrink: 1
      basis: auto
    flex-direction: column
    order: 0

// ====================================
// MEDIA
// ====================================
.media
  +create-media