/* ===================================================*/
/* GRID GENERAL
/* ===================================================*/
/* This grid system uses flexbox instead of pixels
and floats. Considers mobile-first application.*/
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    width: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
.container:before, .row:before,
.container:after, .row:after { content: " "; display: table; }
.container:after, .row:after { clear:both; }

[class*="col-"], .col {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;

    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    max-width: 100%;
    min-height: 0.0625em;
    margin: 0.5em;
    padding: 0.875em;
}

@media only screen and (min-width: 40em) { /* This is about 640px */
    .row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    [class*="col-"] { margin-top: 0.5em; margin-bottom: 0.5em; }
    [class*="col-"]:first-of-type { margin-left: 0; }
    [class*="col-"]:last-of-type { margin-right: 0; }

    .col { margin: 0.5em 0; }
    .col-1of12 {
        -ms-flex-preferred-size: calc(1 / 12 * 100%);
        flex-basis: calc(1 / 12 * 100%);
        max-width: calc(1 / 12 * 100%);
    }
    .col-2of12 {
        -ms-flex-preferred-size: calc(2 / 12 * 100%);
        flex-basis: calc(2 / 12 * 100%);
        max-width: calc(2 / 12 * 100%);
    }
    .col-3of12, .col-quarter {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-4of12, .col-third {
        -ms-flex-preferred-size: calc(4 / 12 * 100%);
        flex-basis: calc(4 / 12 * 100%);
        max-width: calc(4 / 12 * 100%);
    }
    .col-5of12 {
        -ms-flex-preferred-size: calc(5 / 12 * 100%);
        flex-basis: calc(5 / 12 * 100%);
        max-width: calc(5 / 12 * 100%);
    }
    .col-6of12, .col-half {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-7of12 {
        -ms-flex-preferred-size: calc(7 / 12 * 100%);
        flex-basis: calc(7 / 12 * 100%);
        max-width: calc(7 / 12 * 100%);
    }
    .col-8of12, .col-twothird {
        -ms-flex-preferred-size: calc(8 / 12 * 100%);
        flex-basis: calc(8 / 12 * 100%);
        max-width: calc(8 / 12 * 100%);
    }
    .col-9of12, .col-thirdquarter {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-10of12 {
        -ms-flex-preferred-size: calc(10 / 12 * 100%);
        flex-basis: calc(10 / 12 * 100%);
        max-width: calc(10 / 12 * 100%);
    }
    .col-11of12 {
        -ms-flex-preferred-size: calc(11 / 12 * 100%);
        flex-basis: calc(11 / 12 * 100%);
        max-width: calc(11 / 12 * 100%);
    }
    .col-12of12, .col-full {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* ===================================================*/
/* ROW STYLES
/* ===================================================*/


/* ===================================================*/
/* COLUMNS STYLES
/* ===================================================*/
