/* ===================================================*/
/* THUMBNAIL - GENERAL
/* ===================================================*/
.thumbnail {
    width: 100%;
    padding: 5px;
    border: 1px solid #DDD;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.thumbnail img { width: 100%; }

/* ===================================================*/
/* THUMBNAIL - STYLING (BOX)
/* ===================================================*/
.thumbnail-shadow {
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}
.thumbnail-caption {
    padding: 7px;
    font-size: 0.9em;
    color: #777;
}

/* ===================================================*/
/* THUMBNAIL - STYLING (IMAGES)
/* ===================================================*/
.img-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.img-rounded {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.img-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
