/* ===================================================*/
/* ALERTS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// VARIABLES
$alert-color-maps: (
    default:                ($grey_base, $black_base),
    success:                ($green_base, $white_base),
    warning:                ($yellow_base, $black_base),
    danger:                 ($red_base, $white_base),
    info:                   ($blue_base, $white_base)
) !default;
$alert-font-size:			$font-size !default; // Default font size is 15px
$alert-margin:              1.5rem !default; // Default margin is 15px
$alert-padding:             1.5rem !default; // Default padding is 15px

// MIXINS
@mixin alert {
    display: block;
    width: 100%;
    margin: 0;
    padding: $alert-padding;
    font-size: $alert-font-size;
    @include box-shadow(5, 5, 7);
    @include border-radius-cust(0, 5, 5, 0);

    &:not(:first-child) {
        margin-top: $alert-margin;
    }
} // End of Alert

// ALERTS
.alert {
    // Create alert block
    @include alert;

    // Loop through each alert color-map and fetch info
    @each $type, $color in $alert-color-maps {
        $bgcolor: nth($color, 1);
        $fontcolor: nth($color, 2);
        
        // STYLES
        &--#{$type} { background-color: $bgcolor; color: $fontcolor !important; }
    } // End of EACH-LOOP

    // COMPONENTS
    &__title { font: { size: 2.0rem !important; weight: $font-weight-heavy; } }
    &__text { margin: $alert-margin 0; font-weight: $font-weight-normal; }
    &__list { margin-left: ($alert-margin * 2); font-weight: $font-weight-light; }
}
