/* ===================================================*/
/* ALERTS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// VARIABLES
$alert-color-maps: (
    default:                ($grey_base, $black_base),
    info:                   ($blue_base, $white_base),
    success:                ($green_base, $white_base),
    warning:                ($yellow_base, $black_base),
    danger:                 ($red_base, $white_base)
) !default;
$alert-name:                'alert' !default;
$alert-title-font-size:     1.8rem !default;
$alert-font-size:			$font-size !default;
$alert-margin:              1.0rem !default;
$alert-padding:             1.0rem !default;
$alert-border-radius:       0.5rem !default;

// MIXINS
@mixin create-alert {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    margin: ($alert-margin / 2) 0;
    padding: ($alert-padding / 2) $alert-padding;
    font-size: $alert-font-size;
    @include border-radius-cust(0, $alert-border-radius, $alert-border-radius, 0);
} // End of Create-Alert

// ALERTS
.#{$alert-name} {
    @include create-alert;

    @each $type, $color in $alert-color-maps {
        $bgcolor: nth($color, 1);
        $fontcolor: nth($color, 2);
        
        // States
        &.#{$alert-name}--#{$type} {
            background-color: $bgcolor;
            color: $fontcolor;
            border: 1px solid darken($bgcolor, 15%);
            border-left-width: 0.5rem;
        }
    } // End of EACH-LOOP

    // Components
    & > &__title {
        margin-bottom: $alert-margin;
        font: {
            size: $alert-title-font-size !important;
            weight: $font-weight-heavy;
        }
    }
    & > &__text {
        margin: $alert-margin 0;
        font-weight: $font-weight-normal;
    }
    & > &__list {
        margin-left: ($alert-margin * 2);
        font-weight: $font-weight-light;
    }
}
