/* ===================================================*/
/* BUTTONS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// =================================
// BUTTON VARIABLES
// =================================
$button-color-maps: (
    primary:				($lblue_base, $white_base),
    info:                   ($blue_base, $white_base),
    success:				($green_base, $white_base),
    warning:				($yellow_base, $black_base),
    danger:					($red_base, $white_base),
    light:					($white_base, $black_base),
	dark:					($black_base, $white_base),
) !default;
$button-name:                  'button' !default;
$button-margin:                1.0rem !default;
$button-line-height:           $line-height !default;
$button-font-size:             $font-size !default;
$button-letter-space:          0.2rem !default;
$button-padding:               0.5rem 1.5rem !default;
$button-border-radius:         0.3em !default;

// =================================
// BUTTON MIXINS
// =================================
@mixin create-button {
    @include displayInlineFlex;
    @include flexGrow(0);
    @include flexShrink(0);
    @include flexBasis(auto);
    @include justifyContentCenter;
    @include alignItemsCenter;
    @include remove-appearance;
    outline: none;
    background: $color-none;
    margin-bottom: $button-margin;
    padding: $button-padding;
    line-height: $button-line-height;
    vertical-align: center;
    text: { align: center; decoration: none; }
    font: { size: $button-font-size; weight: $font-weight-normal; };
    color: $black_base;
    border: 1px solid rgba($black_base, 0.3);
    border-radius: $button-border-radius;
    cursor: pointer;

    // States
    &:hover { border-color: rgba($black_base, 0.7); }
    &:disabled, &.#{$button-name}--disabled {
    	@include disable-select;
    	opacity: 0.3;
    }
} // End of Create-Button

// =================================
// BUTTONS
// =================================
.#{$button-name} {
    @include create-button;
    
    @each $type, $color in $button-color-maps {
        $bgcolor: nth($color, 1);
        $fontcolor: nth($color, 2);

        // States
        // --- DEFAULTS --- //
        &.#{$button-name}--#{$type} {
            background: $bgcolor;
            color: $fontcolor !important;
            border: 1px solid $color-none;

            // Pseudo
            &:hover,
            &:focus,
            &:active {
                background: darken($bgcolor, $darken);
                border-color: $color-none;
            }

            // States
            // --- LINKS --- //
            &.#{$button-name}--link {
                @if ($type == "light") {
                    background: $color-none;
                    color: $bgcolor !important;
                    border-color: $color-none;
    
                    &:hover,
                    &:focus,
                    &:active {
                        background: rgba($grey_base, 0.1);
                        color: darken($bgcolor, 10%) !important;
                    }
                } @else {
                    background: $color-none;
                    color: $bgcolor !important;
                    border-color: $color-none;
    
                    &:hover,
                    &:focus,
                    &:active {
                        background: rgba($bgcolor, 0.1);
                        color: darken($bgcolor, 10%) !important;
                    }
                }
            }

            // --- OUTLINED --- //
            &.#{$button-name}--outline {
                background: $color-none;
                color: $bgcolor !important;
                border: 1px solid $bgcolor;
                
                &:hover,
                &:focus,
                &:active {
                    background: $bgcolor;
                    color: $fontcolor !important;
                    border-color: $color-none;
                }
            }

            // --- GHOSTED --- //
            &.#{$button-name}--ghost {            
                @if ($type == "light") {
                    background: map-get($theme-maps, light);
                    color: $white_d1 !important;
                    border: 1px solid $grey_l1;
                } @else {
                    background: map-get($theme-maps, light);
                    color: $bgcolor !important;
                    border: 1px solid $grey_l1;
                } // End of IF-ELSE
                
                // Pseudo
                &:hover,
                &:focus,
                &:active {
                    background: $bgcolor;
                    color: $fontcolor !important;
                    border-color: $color-none;
                }
            }
        }
    } // End of EACH-LOOP

    // States
    &.#{$button-name}--xsmall { font-size: ($font-size * 0.66666); }
    &.#{$button-name}--small { font-size: ($font-size * 0.8 ); }
    &.#{$button-name}--medium { font-size: $font-size; }
    &.#{$button-name}--large { font-size: ($font-size * 1.33333); }
    &.#{$button-name}--xlarge { font-size: ($font-size * 1.6); }
    &.#{$button-name}--block {
        display: block;
        width: 100%;
        padding: 1.0rem 0;
        font-size: 2.0rem;
        letter-spacing: $button-letter-space;
    }

    &.#{$button-name}--h-round { @include border-radius(($button-border-radius * 2)); }
    &.#{$button-name}--f-round { @include border-radius(3.5rem); }
}