/* ===================================================*/
/* CARDS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// VARIABLES
$card-name:                 'card' !default;
$card-padding:              1.0rem !default;
$card-border-color:         $grey_base !default;
$card-font-size:            $font-size !default;
$card-font-color:           $color-grey-50 !default;

// CARDS
.#{$card-name} {
    width: 100%;
    border: 1px solid $card-border-color;
    @include border-radius;
    overflow: hidden;

    // Components
    & > &__header {
        padding: ($card-padding / 2) $card-padding;
        border: { bottom: 1px solid $card-border-color; }

        // Components
        & > .#{$card-name}__title { font: { size: 2.4rem; weight: $font-weight-heavy; }; }
        & > .#{$card-name}__subtitle { font: { size: 1.8rem; weight: $font-weight-normal; }; }
    }

    & > &__body {
        padding: $card-padding;
        font: { size: $card-font-size; };
        color: $card-font-color;

        // Components
        & > img,
        & > .#{$card-name}__image { width: 100%; }
    }

    & > &__footer {
        @include displayFlex;
        @include flexSize;
        border: { top: 1px solid $card-border-color; }

        // Components
        & > .#{$card-name}__footer__item {
            @include displayFlex;
            @include flexGrow;
            @include flexShrink(0);
            @include flexBasis(0);
            @include justifyContentCenter;
            @include alignItemsCenter;
            margin: 0;
            padding: $card-padding / 2;

            // Components
            & > a {
                text-decoration: none;
                color: map-get( $theme-maps, dark);

                &:hover { color: map-get($theme-maps, primary); }
            }

            // Pseudo
            &:not(:first-child) { border: { left: 1px solid $card-border-color; } }
        }
    }

    // States
    &.#{$card-name}--shadow-box {
        -webkit-box-shadow: 0 0 1.0em rgba($color-pure-black, 0.25),
                            0 0 3.0em rgba($color-pure-black, 0.15);
            -moz-box-shadow: 0 0 1.0em rgba($color-pure-black, 0.25),
                            0 0 3.0em rgba($color-pure-black, 0.15);
                -ms-box-shadow: 0 0 1.0em rgba($color-pure-black, 0.25),
                                0 0 3.0em rgba($color-pure-black, 0.15);
                    box-shadow: 0 0 1.0em rgba($color-pure-black, 0.25),
                                0 0 3.0em rgba($color-pure-black, 0.15);
    }
}