/* ===================================================*/
/* INPUTS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// VARIABLES
$input-name:                'input' !default;
$input-width:               100% !default;
$input-height:              4.0rem !default; // Default height is 40px
$input-padding:             1.0rem !default;
$input-font-size:           $font-size !default; // Default font-size is 15px
$input-font-color:          $font-color;
$input-border-color:        map-get($theme-maps, default);

// MIXINS
@mixin input-control {
    position: relative;
    @include displayInlineFlex;
    @include justifyContentAtStart;
    @include alignItemsCenter;
    height: 4.0rem;
    line-height: $line-height;
    padding: $input-padding;
    @include remove-appearance;
    border: 1px solid $color-none;
    outline: none;
    @include box-shadow-none;
    
    // States
    &:focus, &:active {
        border-color: map-get($theme-maps, primary);
        box-shadow: 0 0 1.2rem rgba($lblue_base, 0.5);
    }
    &:disabled {
        @include disable-select;
        opacity: 0.5;
    }
} // End of Input-Control

@mixin create-input {
    @include input-control;
    color: $input-font-color;
    @include border-radius(0.3rem);
    border-color: $input-border-color;

    // COMPONENTS
	&::-webkit-input-placeholder { color: $color-grey-75; } // WebKit, Blink, Edge
	&::-moz-placeholder { color: $color-grey-75; opacity: 1; } // Mozilla Firefox 19+
	&:-moz-placeholder { color: $color-grey-75; opacity: 1; } // Mozilla Firefox 4 to 18
	&:-ms-textarea-placeholder { color: $color-grey-75; } // Internet Explorer 10-11
	&::placeholder { color: $color-grey-75; }

    // STATES
    &:hover, &:focus, &:active { border-color: map-get($theme-maps, primary); }
    &:not(:last-child) { margin-bottom: 1.5rem; }
} // End of Create-Input

// INPUTS
.#{$input-name} {
    @include create-input;
    position: relative;
    width: $input-width; height: $input-height;
    display: block;

    // Components
    // --- LABELS ---
	&__label {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1.0rem;
        font: { size: 1.2rem; weight: $font-weight-heavy; }
        color: $input-font-color;
	}
    
    // --- SELECT ---
	&__select {
        @extend .#{$input-name};
        background: {
            image: url('https://png.icons8.com/expand-arrow/win8/12');
            repeat: no-repeat;
            position: 98%;
        }
        
        // Components
        &::-ms-expand { display: none; }
	}
    
    // --- TEXT AREA ---
	&__textarea {
        @extend .#{$input-name};
        height: 12.0rem;
        font: { family: inherit; size: $input-font-size; };
        resize: vertical;
	}
    
    // --- CHECKBOXES ---
	&__checkbox {
        display: inline-flex;
        align-items: center;
        transform: scale(1.25);
        
        // Pseudo
        &:not(:first-of-type) { margin-left: 1.0rem; }
        
        // Components
        &__group { margin: 1.0rem 0; }
        &__label { display: inline; margin-left: 1.5rem; font-size: 1.5rem; }
    }
}