/* ===================================================*/
/* MODALS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// VARIABLES
$modal-name: 'modal' !default;

// MIXINS
@mixin coverAll {
    visibility: hidden;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba($black_base, 0.8);
    overflow-y: auto;
    z-index: $index-highest;
} // End of CoverAll

// MODALS
.#{$modal-name} {
    @include coverAll;

    // Components
    &__body {
        position: relative;
        width: 96%;
        margin: 5rem auto;
        padding: 0.75rem;
        background-color: $white_l5;
        @include border-radius;
        border: 1px solid $color-grey-75;
        overflow-y: auto;
        @include translate-vertical(-50px);
        @include transition(transform, 0.3s, ease-in);

        // Media Queries
        @media only screen and (min-width: $bp-large) { max-width: 500px; }
    }
    & > &__header {}
    & > img,
    & > &__img { display: block; max-width: 100%; margin: 0 auto; }
    & > &__content {
        line-height: 1.5;
        font: { size: $font-size; weight: $font-weight-light; };
        color: $color-grey-50;
    }
    & > &__close {
        position: absolute;
        display: block;
        top: 0.25rem;
        right: 1.0rem;
        color: $color-grey-75;
        font-size: 2.0rem;
        cursor: pointer;
        opacity: 0.5;
        @include transition(all, 0.3s, ease-in);

        &:hover,
        &:focus {
            color: $color-grey-50;
            opacity: 1;
            @include transition(all, 0.3s, ease-in);
        }
    }
    & > &__footer {}

    // States
    &.#{$modal-name}--active {
        visibility: visible;
        opacity: 1;
        @include transition(all, 0.3s, ease-in-out) ;

        & .#{$modal-name}__body {
            @include translate-vertical(0);
            @include transition(transform, 0.3s, ease-in);
        }
    }
}