/* ===================================================*/
/* TAGS
/* ===================================================*/
@import "../config/_variables";
@import "../config/_mixins";

// VARIABLES
$tag-color-maps: (
    primary:                ($lblue_base, $white_base),
    secondary:              ($btopaz_base, $white_base),
    info:                   ($blue_base, $white_base),
    success:                ($green_base, $white_base),
    warning:                ($yellow_base, $black_base),
    danger:                 ($red_base, $white_base),
    light:                  ($white_base, $black_base),
    dark:                   ($black_base, $white_base)
) !default;
$tag-name:                  'tag' !default;
$tag-margin:                1.5rem !default;
$tag-padding:               0.5rem 1.0rem !default;

// MIXINS
@mixin create-tag {
    @include displayInlineFlex;
    @include flexSize(auto);
    @include justifyContentCenter;
    @include alignItemsCenter;
    padding: $tag-padding;
    background: map-get($theme-maps, default);
    color: map-get($theme-maps, dark);
    font-size: 12px;
    @include border-radius;
} // End of Create-Tag

// TAGS
.#{$tag-name} {
    @include create-tag;

    @each $type, $color in $tag-color-maps {
        $bgcolor: nth($color, 1);
        $fontcolor: nth($color, 2);

        // States
        &.#{$tag-name}--#{$type} {
            background: $bgcolor;
            color: $fontcolor !important;
        }
    } // End of LOOP
}