/*
@author: J. Djimitry Riviere
@version: 1.8.0
@release: 11/17/2017

Welcome and thank you for using Sparkle, a lightweight, open-source CSS framework
to help you create simple, responsive website templates. It was developed by J. Djimitry Riviere
in late 2016, and continues to be improved upon by its developer to bring more creative features.
The major key to this framework lies within its ease of us to deliver superb results
when creating a website.

Thank you for using Sparkle! Happy Designing!
*/

// External Imports
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,800');
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* ========== SPARKLE.CSS STARTS HERE ========== */
// Core
@import "components/_core";
@import "components/_typography";

// Components
@import "components/_animations";
@import "components/_blockquotes";
@import "components/_grid";
@import "components/_navigation";
@import "components/_tables";

// Elements
@import "elements/_alerts";
@import "elements/_buttons";
@import "elements/_cards";
@import "elements/_inputs";
@import "elements/_media";
@import "elements/_menu";
@import "elements/_modals";
@import "elements/_tags";

// Utilities
@import "utilities/_utilities";

/* ========== SPARKLE.CSS ENDS HERE ========== */