/*
@author: J. Djimitry Riviere
@version: 1.6.0
@release: 08/12/2017

Welcome and thank you for using Sparkle, a lightweight CSS open source framework (coded in CSS and jQuery)
to help you create simple, responsive website templates. It was developed by J. Djimitry Riviere
in late 2016, and continues to be improved upon by its developer. The major key to this framework
lies within its ease of us to deliver superb results when creating a website. Not only that, it is
and will always remain FREE to use; though in exchange, providing feedback and helping find ways to
improve the framework further would be appreciated.

Thank you for using Sparkle! Happy Designing!
*/

// External Imports
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,800');
@import "../../vendors/normalize.scss";

/* ========== SPARKLE.CSS STARTS HERE ========== */
// Core
@import "components/_base";

// Utilities
@import "components/_typography";
@import "components/_utilities";
@import "components/_animations";

// Components
@import "components/_alerts";
@import "components/_buttons";
@import "components/_cards";
@import "components/_forms";
@import "components/_grid";
@import "components/_modals";
@import "components/_navigation";
@import "components/_tables";
/* ========== SPARKLE.CSS ENDS HERE ========== */